{% extends 'base.html' %} 
{% block main %}
{% load static%}
    <br>
        <div id="container">
           <div>
            <img id="img" src="{% static 'img/estoque.png' %}" width="500px" all=" ">
            <label> <a href="{% url 'entrada-mercadoria' %}"><b>ESTOQUE </b></a></label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>

           <div>
            <img id="img" src="{% static 'img/caixa.png' %}" width="500px" all=" ">
            <label><a href="{% url 'caixa' %}"><b>CAIXA </b></a> </label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>

           <div>
            <img id="img" src="{% static 'img/frente_de_caixa.png' %}" width="500px" all=" ">
            <label ><a href="{% url 'atualizar-pedido' %}"><b>FRENTE DE CAIXA </b></a></label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>

           <div>
            <img id="img" src="{% static 'img/produto.png' %}" width="500px" all=" ">
            <label><a href="{% url 'produto' %}"><b>PRODUTOS </b></a></label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>

           <div>
            <img id="img" src="{% static 'img/contas.png' %}" width="500px" all=" ">
            <label><a href="{% url 'conta_areceber' %}"><b>CONTAS A RECEBER</b></a></label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>

           <div >
            <img id="img" src="{% static 'img/gastos.png' %}" width="500px" all=" ">
            <label><a href="{% url 'gastos-extras' %}"><b>CONTTROLE DE GASTOS </b></a></label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>

           <div>
            <img id="img" src="{% static 'img/cliente.png' %}" width="500px" all=" ">
            <label><a href="{% url 'entrada-mercadoria' %}"><b>CLIENTES </b></a></label>
            <hr>
            <li>Eentada, Saida</li>
            <li>Baixa no estoque </li>
            <li>Validae do produto</li>
           </div>
        
        </div>

        
        <footer>
            <label> footer</label>
        </footer>
{%endblock%}