{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; CONTA A PAGAR <a href="{% url 'conta_apagar' %}">Cancelar</a></h2>
    <form class='formulario' method="POST" >
        {% csrf_token %}
        <p> EDITAR CONTA</p>
        <hr>

        <div>
            <label> Observação:</label> <br>
                <input style=" width:220px;"  placeholder=" Observação ou descrição..."
                    type="text" id="observacao" name="observacao" value="{{conta.observacao}}" required/>
        </div>
        <div>
            <label> Valor:</label> <br>
                <input style=" width:120px;"  placeholder="R$ 0,00" type="text" data-js="money"
                    id="valor" name="valor" value="R$ {{conta.valor}}" >
        </div>
        <div>
             <label> Parcelas:</label> <br>
                <input style=" width:120px;"  placeholder=" parcelas:" value="{{conta.parcelas}}"
                    type="text" id="parcelas" name="parcelas" required/>
        </div>
        <div>
                <input type="hidden" value='2' name="tipo_de_conta_id">

            <label> Data de vencimento:</label> <br>
                <input style=" width:150px;"  placeholder=" Data de vencimento:" 
                    value="{{conta.data_de_vencimento | date:'Y-m-d'}}"
                    type="date" id="data_de_vencimento" name="data_de_vencimento">
        </div>
               
            <hr>
            <button type="submit"> Editar</button>
        </form>
    <br>
</div>
{% endblock %}
<!-- <td> <a href="{% url 'GastosExtras_update_cbv' gastos_extras.id %}">Editar</a> </td>
                    <td> <a href="{% url 'gastos_extras_delete' gastos_extras.id %}">Excluir</a> </td>  -->

