{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; CONTA A RECEBER </h2>
    <form class='formulario' method="POST" >
        {% csrf_token %}
    
        <p> ALTERAR CONTA</p>
       <hr>
      
        <div>
            <label> Observação</label>
                <input style=" width:220px;"  placeholder=" Observação ou descrição..."
                    type="text" id="observacao" name="observacao" value="{{conta.observacao}}"/>
        </div>
        <div>
            <label> Cliente</label>
                <select style=" width:200px;" type="search" id="cliente_id" name="cliente_id" required/>

                        <tr>
                                <option value='{{conta.cliente.id}}'> {{conta.cliente}}</option>
                            {% for cliente in cliente %}
                                <option value='{{cliente.id}}'> {{cliente.nome}}</option>
                            {% endfor %}
                        </tr>

                </select>
                <a href="{% url 'novo-cliente' %}">+</a>
        </div>   
        <div>
                
            <label> Venda</label>
                <select style=" width:220px;" type="search" id="venda_id" name="venda_id" required/>
                        <tr>
                                <option value='{{conta.venda.id}}'> {{conta.venda}}</option>
                            {% for vendas in venda %}
                                <option value='{{vendas.id}}'> {{vendas}}</option>
                            {% endfor %}
                        </tr>
                </select>
        </div>
        <div>
            <label> Valor</label>
                <input style=" width:200px;"  placeholder="Valor..." type="number" step=".01" lang="nb"
                   id="valor" name="valor" required value="{{conta.valor}}" />
        </div>   
        <div>
             <label> Parcelas</label>
                <input style=" width:200px;" value='1' placeholder=" parcelas..."
                    type="text" id="parcelas" name="parcelas" required value="{{conta.parcelas}}" />
        </div>   
       
                <input type="hidden" value='1' name="tipo_de_conta_id">
        <div>
            <label> Data de vencimento</label>
                <input style="width:150px;"  placeholder=" Data de vencimento:" value="{{conta.data_de_vencimento}}"
                    type="date" id="data_de_vencimento" name="data_de_vencimento" required/>
        </div>   
             <hr> 
            <button type="submit"> salvar</button>
    </form>
    <br>
</div>

{% endblock %}
<!-- <td> <a href="{% url 'GastosExtras_update_cbv' gastos_extras.id %}">Editar</a> </td>
                    <td> <a href="{% url 'gastos_extras_delete' gastos_extras.id %}">Excluir</a> </td>  -->

