{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; CONTA A RECEBER 
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>
    <form id="form_up" class='formulario' style="display: none;" action="{% url 'conta_areceber' %}" method="POST" >
        {% csrf_token %}
        
        <a id="termo_buttao" href="#" onclick="document.getElementById
        ('form_up').style.display='none';"> X</a>
        <p> NOVA CONTA</p>

       <hr> 
        <div>
            <label> Observação</label><br>
                <input  placeholder=" Observação ou descrição..."
                    type="text" id="observacao" name="observacao" />
        </div>
        <div>  
            <label> Cliente</label><br>
                <select  type="search" id="cliente_id" name="cliente_id" required/>

                        <tr>
                                <option value=''> __Selecionar __</option>
                            {% for cliente in cliente %}
                                <option value='{{cliente.id}}'> {{cliente.nome}}</option>
                            {% endfor %}
                        </tr>
                </select>
                <a class="link_add" href="{% url 'novo-cliente' %}">+</a>
        </div>   
        <div>
            <label> Venda</label><br>
                <select  type="search" id="venda_id" name="venda_id" >
                    <tr>
                            <option value=''> __Selecionar__</option>
                        {% for vendas in venda %}
                            <option value='{{vendas.id}}'> {{vendas}}</option>
                        {% endfor %}
                    </tr>
                </select>

        </div>
        <div>
            <label> Valor</label><br>
                <input  placeholder="Valor..."  type="number" step=".01" lang="nb"
                    id="valor" name="valor" required/>
        </div>
    
        <div>
             <label> Parcelas</label><br>
                <input value='1' placeholder=" parcelas..."
                    type="text" id="parcelas" name="parcelas" required/>
        </div>
       
                <input type="hidden" value='1' name="tipo_de_conta_id">
       
        <div> 
            <label> Data de vencimento</label> <br>
                <input style=" width:150px; padding: 3px;"  placeholder=" Data de vencimento:"
                    type="date" id="data_de_vencimento" name="data_de_vencimento" required/>
        
        </div>
        <hr>

            <button type="submit"> salvar</button>
    </form>
        <br>

<!-- Formulário de filtros -->
    <form id="form_mobil" class='campo_de_busca' method="GET" action="{% url 'conta_areceber' %}">
        <a id="br_X_mobil" href="#" onclick="document.getElementById
        ('form_mobil').style.display='none';"> X</a>
        
    <div id="div_busca_filtro";>
        <label> Cpf ou Cnpj / Situação do débito</label><br>
        <input style="width:40%"; type="search" id="client" name="client" placeholder="Cpf ou Cnpj..." >
        
        <select style="width:110px"; type="search" id="estado_da_conta" name="estado_da_conta" >
           <tr >
                <option value='1'> Selecionar</option>
                <option value=''> -Contas ativas </option>
                <option value='0'> -Contas pagas </option>
            </tr>
        </select>
        <button style="width:50px"; type="submit">Filtrar</button>
    </div> 
    <div id="div_busca_filtro";> 
        <label>Filtra por periodo  </label> <br>
        <input  style="width:30%; padding: 3px;" type="date" id="dia" name="dia" > até
        <input  style="width:30%; padding: 3px;" type="date" id="dia2" name="dia2" >
        <button style="width:50px;" type="submit">Filtrar</button>
    </div> 
    </form>
        <a id="mostrar_filtros"
            href="#" onclick="document.getElementById('form_mobil').style.display='block';">
            Mostrar filtros 
        </a>
    <table class="table">
     <thead>
        <tr>
            <th >Cliente</th>
            <th class="col_table">Observação</th>
            <th >Valor</th>
            <th class="col_table">ID da venda</th>
            <th class="col_table">Saldo devedor</th>
            <th class="col_table">Total de parcelas</th>
            <th class="col_table" >Parcelas pagas</th>
            <th class="col_table" >Parcelas restantes</th>
            <th class="col_table" >Valor da parcela</th>
            <th >Data de vencimento</th>
            <th>Ação</th>
            <th>Pagar</th>
        </tr>
    </thead>
        <tbody>
            {%for conta in conta %}
                <tr>
                    <td>{{ conta.cliente.nome}}</td>
                    <td class="col_table">{{ conta.observacao}}</td>
                    <td class="col_table">R$ {{ conta.valor }}</td>
                    <td class="col_table">{{ conta.venda.id}}</td>
                    <td>R$ {{ conta.saldo_devedor }}</td>
                    <td class="col_table">{{ conta.parcelas }}</td>
                    <td class="col_table">{{ conta.parcelas_pagas }}</td>
                    <td class="col_table">{{ conta.parcelas_restantes }}</td>
                    <td class="col_table">R$ {{ conta.valor_parcela }}</td>
                    <td>{{ conta.data_de_vencimento }}</td>
                    <td>
                        {% if perms.financeiro.change_contas %}
                            <a href="{% url 'conta_areceber_update' conta.id %}">Editar</a> 
                        {%endif%}

                        {% if perms.financeiro.delete_contas %}
                            <a href="{% url 'conta_delete' conta.id %}">Excluir</a> 
                        {%endif%}
                    </td>
                    <td>
                        {% if perms.financeiro.add_pagamento %}
                            <a href="{% url 'pagamento' conta.id %}">pagar</a> 
                        {%endif%}
                    </td>
            {%endfor%}
        </tbody>
    </table>

</div>

{% endblock %}
<!-- <td> <a href="{% url 'GastosExtras_update_cbv' gastos_extras.id %}">Editar</a> </td>
                    <td> <a href="{% url 'gastos_extras_delete' gastos_extras.id %}">Excluir</a> </td>  -->

