{% extends 'base.html'%}
{% block main%}
<div class='div_Mae'>

</form >

<h3 class='titulo_usuario'> Resumo da fatura</h3>

<form class='usuario'>

   
    <label>Vendas: {{vendas}} </label>
    <label>Intem de vendas: {{item_do_pedito}} </label>
    <label>Contas a receber: {{Contas_a_receber}} </label>
    <label>Contas a pagar: {{Contas_a_pagar}} </label>
    <label>Entrada de mercadorias: {{entrada_ee_mercadoria}} </label>
    <label>TOTAL DE REGISTRO: {{total_de_registros}} </label>
    <label>TOTAL A PAGAR: R$ {{total_a_pagar}} </label>
     <br>
     <br>
    <button style="width: 50%; border: 1px solid #303131; color:white; background-color: #4F4F4F; font-size:18px;">
    <a style="color:white;" href="{% url 'update-usuario'%} ">Editar</a> </button>
    <br>
    <br>
    <br>
</form>
</div>
{% endblock %}