{% extends 'base.html'%}
{% block main%}
<div class='div_Mae'>
    <h2 class="sub_menu" style="width: 350px;">&nbsp; RESUMO DA FATURA</h2> 

     <table class="table" style="width: 350px; text-align: left; font-size: 18px; important">
        <thead  >
           <tr>
               <th  style=" padding: 8px; important">Descricão</th>
               <th style=" padding: 8px; important">Valores</th>
           
           </tr>
       </thead>
      
           <tbody >
                <td style="text-align: left;background-color: #C6E2FF; important" > Vendas </td>
                <td style=" background-color: #C6E2FF; important">{{ vendas}}</td>
           </tbody>
            
            <tbody>
                <td style="text-align: left; important"> Item do pedito </td>
                <td> {{item_do_pedito}} </td>
            </tbody>
            <tbody>
                <td style="text-align: left;background-color: #C6E2FF; important"> Contas a receber </td>
                <td style=" background-color: #C6E2FF; important"> {{Contas_a_receber}} </td>

            </tbody>
            <tbody>
                <td style="text-align: left; important"> Contas a pagar </td>
                <td> {{Contas_a_pagar}} </td>
            </tbody>
            <tbody>
                <td style="text-align: left; background-color: #C6E2FF; important"> Gastos extras </td>
                <td style=" background-color: #C6E2FF; important" > {{gastos_extras}} </td>
            </tbody>
            <tbody>
                <td style="text-align: left; important"> Entrada de mercadorias </td>
                <td> {{entrada_ee_mercadoria}} </td>

            </tbody>
            <tbody>
                <td style="text-align: left; background-color: #C6E2FF; important"> Caixa </td>
                <td style=" background-color: #C6E2FF; important" > {{caixa}} </td>
            </tbody>
            <tbody>
                <td style="text-align: left; background-color: #C6E2FF; important"> TOTAL DE REGISTRO </td>
                <td style=" background-color: #C6E2FF; important"> {{total_de_registros}} </td>
            </tbody>
            <tbody>
                <td style="text-align: left; background-color: #2b67c2; important"> TOTAL A PAGAR </td>
                <td style=" background-color: #2b67c2; important"> R$ {{total_a_pagar | floatformat:2}} </td>
        </tbody>
            

       </table>
    
    <br>
</div>
{% endblock %}