{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp;GASTOS EXTRAS 
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>
    <form id="form_up" class='formulario' style="display: none;" action="{% url 'gastos-extras' %}" method="POST" >
         {% csrf_token %}
         <a id="termo_buttao" href="#" onclick="document.getElementById
         ('form_up').style.display='none';"> X</a>
         <p> ANOTAR GASTOS</p>
        <hr> 
    <div> 
        <label>Descrição*</label><br>
            <input placeholder=" Descrição..." type="text" id="descricao" name="descricao" required/>
    </div>
    <div> 
        <label>Categoria de gastos</label><br>
            <select style="width:180px;" type="search" id="categoria" name="categoria">
                <option value="">Selecionar</option>
                {%for categoria in categoria_de_gastos %}
                <option value="{{categoria.id}}">{{categoria}}</option>
                {%endfor%}
            </select> 
            <a class="link_add" href="{% url 'categoria_de_gastos' %}">+</a>
    </div>
    <div>
        <label>Valor*</label><br>
            <input placeholder="R$ 0,00" type="text" data-js="money" name="valor" required/>
    </div>
             <hr>
            <button type="submit"> Salvar</button>
    </form>
        <br>
<!-- formulário de filtro -->
    <form id="form_mobil" class='campo_de_busca' method="GET" action="{% url 'filtro_gastos_extras' %}">
        <a id="br_X_mobil" href="#" onclick="document.getElementById
        ('form_mobil').style.display='none';"> X</a>

    <div>
        <label> Filtrar por periodo </label> <br>
        <select  type="search" id="mes" name="mes"/>
                <tr>
                    <option value='{{today.month}}'>Mês</option>
                    <option value='1'> -Janeiro</option>
                    <option value='2'> -Fevereiro</option>
                    <option value='3'> -Março</option>
                    <option value='4'> -Abril</option>
                    <option value='5'> -Maio</option>
                    <option value='6'> -Junho</option>
                    <option value='7'> -Julho</option>
                    <option value='8'> -Agosto</option>
                    <option value='9'> -Setembro</option>
                    <option value='10'> -Outubro</option>
                    <option value='11'> -Novembro</option>
                    <option value='12'> -Dezembor</option>
                </tr>
                 <br>
        </select>
        
        <select  type="search" id="ano" name="ano" >
                <tr>
                    <option value='{{today.year}}'> Ano</option>
                    <option value='2021'> -2021</option>
                    <option value='2022'> -2022</option>
                    <option value='2023'> -2023</option>
                    <option value='2024'> -2024</option>
                    <option value='2025'> -2025</option>
                    <option value='2026'> -2026</option>
                    <option value='2027'> -2027</option>
                    <option value='2028'> -2028</option>
                    <option value='2029'> -2029</option>
                    <option value='2030'> -2030</option>
                    <option value='2031'> -2031</option>
                    <option value='2032'> -2032</option>
                </tr>
                 <br>
        </select>
            <button type="submit">Filtrar</button>
    </div>
    <div>
        <label>Por data específica </label> <br>
        <input style=" padding: 3px;" type="date" id="dia" name="dia" >
        <button type="submit">Filtrar</button>
    </div>  
    </form>
        <a id="mostrar_filtros"
            href="#" onclick="document.getElementById('form_mobil').style.display='block';">
            Mostrar filtros 
        </a>

    <table class="table">
     <thead>
        <tr>
          <th >Descrição</th>
          <th >Valor</th>
          <th >Categoria</th>
          <th>Data</th>
          {% if perms.financeiro.change_gastos_extras %}
          <th >Editar</th>
          {% endif%}
          {% if perms.financeiro.delete_gastos_extras %}
          <th >Excluir</th>
          {% endif%}
        </tr>
    </thead>
        <tbody>
            {%for gastos_extras in gastos_extras %}
                <tr>
                    <td>{{ gastos_extras.descricao }}</td>
                    <td>R$ {{ gastos_extras.valor  | floatformat:2}}</td>
                    <td>{{ gastos_extras.gastosExtrasCategoria.nome }}</td>
                    <td>{{ gastos_extras.data_hora | date:'d/m/y  H:i'}}</td>

                    {% if perms.financeiro.change_gastos_extras %}
                    <td>
                        <a href="{% url 'gastos_extras_update' gastos_extras.id %}">Editar</a>
                    </td>
                    {% endif%}

                    {% if perms.financeiro.delete_gastos_extras %}
                    <td>
                        <a href="{% url 'gastos_extras_delete' gastos_extras.id %}">Excluir</a>
                    </td>
                    {% endif%}
                    
                </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

{% endblock %}
