{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; GASTOS EXTRAS  <a href="{% url 'gastos-extras' %}">Cancelar</a> </h2>
    <form class='formulario' method="POST" >
         {% csrf_token %}
    
         <p> EDITAR GASTOS</p>
         <hr> 
        <div> 
            <label>Descrição</label><br>
            <input style=" width:150px;"  placeholder=" Descricão..." value="{{gastos_extras.descricao}}"
                 type="text" id="descricao" name="descricao" required/>
        </div>
        <div> 
            <label>Categoria de gastos</label><br>
                <select style="width:180px;" type="search" id="categoria" name="categoria">
                    <option value="{{ gastos_extras.gastosExtrasCategoria.id }}">{{ gastos_extras.gastosExtrasCategoria}}</option>
                    {%for categoria in categoria_de_gastos %}
                    <option value="{{categoria.id }}">{{ categoria.nome}}</option>
                    {%endfor%}
                </select> 
                <a class="link_add" href="{% url 'categoria_de_gastos' %}">+</a>
        </div>
        <div>
            <label>Valor</label><br>
            <input style=" width:150px;"  value="R$ {{gastos_extras.valor | floatformat:2}}"
                type="text" data-js="money" id="valor" name="valor" required/>
        </div>
            <hr>
            <button type="submit"> Editar</button>
    </form>
    <br>
</div>

{% endblock %}
