{% extends 'base.html'%}

   {% block main%}

<div class=div_Mae>

<form class='formulario'>
          <h1> Relatório por produto </h1>
</form>

<br>
<form class='campo_de_busca1' method="GET" action="{% url 'relatorio-produtos' %}">
    <li style='font-size: 12px; color: red;'> A coluna (lucro obitido) desta tabela, não inclui os descontos inserido no fluxo de caixa, ou melhor,
            o cálculo é baseado no valor venal, sem descontos!</li>
            <select type="select"  name="ano" id="ano" >
                <option value=" {{ano_atual}}" >__Escolha um Ano__ </option>
                <option value="2021" >-2021 </option>
                <option value="2022" >-2022</option>
                <option value="2023" >-2023</option>
                <option value="2024" >-2024</option>
                <option value="2025" >-2025</option>
                <option value="2026" >-2026</option>
            </select >

                <select type="select"  name="mes" id="mes"  >
                <option value="{{MES}}" >__Escolha um mês__ </option>
                <option value="1" >-Janeiro </option>
                <option value="2" >-Fevereiro</option>
                <option value="3" >-Março</option>
                <option value="4" >-Abril </option>
                <option value="5" >-Maio</option>
                <option value="6" >-Junio</option>
                <option value="7" >-Julho </option>
                <option value="8" >-Agosto</option>
                <option value="9" >-Setembro</option>
                <option value="10" >-Outubro </option>
                <option value="11" >-Novembroo</option>
                <option value="12" >-Dezembro</option>
            </select >

            <select type="select"  name="filtrar_produto" id="filtrar_produto" >
                <option value="-lucro_obtido" >__Escolha um filtro__</option>
                <option value="-quantidade" >-Mais vendido </option>
                <option value="quantidade" >-Menus vendido </option>
                <option value="-lucro_obtido" >-Maior lucrou</option>
                <option value="lucro_obtido" >-Menor lucrou</option>
           </select >
           <button style='margin:10px;' type="submit">Filtrar</button>
</form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID do produto</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">Qtd vendido</th>
          <th scope="col">Valor investido</th>
          <th scope="col">Valor da venda</th>
          <th scope="col">Lucro Obitido</th>

        </tr>
      </thead>
      <tbody>

        {% for item_de_pedido in item_de_pedido %}
            <tr>
                <td>{{ item_de_pedido.produto__id }}</td>
                <td>{{ item_de_pedido.produto__nome }}</td>
                <td>{{ item_de_pedido.quantidade | floatformat:2}}-item</td>
                <td>R$ {{ item_de_pedido.total_investimento | floatformat:2 }}</td>
                <td>R$ {{ item_de_pedido.total_venda | floatformat:2 }}</td>
                <td>R$ {{ item_de_pedido.lucro_obtido | floatformat:2 }}</td>

            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}



<!--
   <table class="table">
      <thead>
        <tr>
          <th scope="col">ID da venda</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">ID do produto</th>
          <th scope="col">Valor do produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto</th>
        </tr>
      </thead>
      <tbody>
        {% for item_de_pedido in item_de_pedido %}
            <tr>
                <td>{{ item_de_pedido.venda.id }}</td>
                <td>{{ item_de_pedido.produto.nome }}</td>
                <td>{{ item_de_pedido.produto.id }}</td>
                <td>{{ item_de_pedido.produto.valor_venda }}</td>
                <td>{{ item_de_pedido.quantidade_de_itens}}</td>
                <td>{{ item_de_pedido.desconto }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% regroup cities by country as country_list %}

<ul>
    {% for country in country_list %}
        <li>{{ country.grouper }}
            <ul>
            {% for city in country.list %}
                <li>{{ city.name }}: {{ city.population }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
-->