{% extends 'base.html'%}

   {% block main%}

<div class=div_Mae>
  <h2 class="sub_menu" >&nbsp; RELATÓRIO POR PRODUTO 
  <a style="color:brown;"
  href="#" onclick="document.getElementById('form_up').style.display='block';"> Importante saber 
</a>
</h2>
<form id="form_up" class='formulario' style="display: none;"> 
  <a id="termo_buttao" href="#" onclick="document.getElementById
        ('form_up').style.display='none';"> X</a>
  <p> AVISO IMPORTANTE!</p>
  <hr>
  <p style='font-size: 14px; color: red;'> A coluna (lucro obitido) desta tabela, não inclui os descontos inserido no fluxo de caixa, ou melhor,
    o cálculo é baseado no valor venal, sem descontos!</p>
</form>
<hr>
<form class='campo_de_busca' method="GET" action="{% url 'relatorio-produtos' %}">
    
            <select style="width:70px" type="select"  name="ano" id="ano" >
                <option value=" {{ano_atual}}" >Ano </option>
                <option value="2021" >-2021 </option>
                <option value="2022" >-2022</option>
                <option value="2023" >-2023</option>
                <option value="2024" >-2024</option>
                <option value="2025" >-2025</option>
                <option value="2026" >-2026</option>
            </select >

                <select style="width:70px" type="select"  name="mes" id="mes"  >
                <option value="{{MES}}" >Mês</option>
                <option value="1" >-Janeiro </option>
                <option value="2" >-Fevereiro</option>
                <option value="3" >-Março</option>
                <option value="4" >-Abril </option>
                <option value="5" >-Maio</option>
                <option value="6" >-Junio</option>
                <option value="7" >-Julho </option>
                <option value="8" >-Agosto</option>
                <option value="9" >-Setembro</option>
                <option value="10" >-Outubro </option>
                <option value="11" >-Novembroo</option>
                <option value="12" >-Dezembro</option>
            </select >

            <select style="width:70px" type="select"  name="filtrar_produto" id="filtrar_produto" >
                <option value="-lucro_obtido" >Filtro</option>
                <option value="-quantidade" >-Mais vendido </option>
                <option value="quantidade" >-Menus vendido </option>
                <option value="-lucro_obtido" >-Maior lucrou</option>
                <option value="lucro_obtido" >-Menor lucrou</option>
           </select >
           <button style="width:50px" style='margin:10px;' type="submit">Filtrar</button>
</form>

    <table class="table">
      <thead>
        <tr>
          <th class="col_table">ID do produto</th>
          <th >Nome do produto</th>
          <th >Qtd vendido</th>
          <th >Valor investido</th>
          <th >Valor da venda</th>
          <th >Lucro Obitido</th>

        </tr>
      </thead>
      <tbody>

        {% for item_de_pedido in item_de_pedido %}
            <tr>
                <td class="col_table">{{ item_de_pedido.produto__id }}</td>
                <td>{{ item_de_pedido.produto__nome }}</td>
                <td>{{ item_de_pedido.quantidade | floatformat:2}}-item</td>
                <td>R$ {{ item_de_pedido.total_investimento | floatformat:2 }}</td>
                <td>R$ {{ item_de_pedido.total_venda | floatformat:2 }}</td>
                <td>R$ {{ item_de_pedido.lucro_obtido | floatformat:2 }}</td>

            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}



<!--
   <table class="table">
      <thead>
        <tr>
          <th scope="col">ID da venda</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">ID do produto</th>
          <th scope="col">Valor do produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto</th>
        </tr>
      </thead>
      <tbody>
        {% for item_de_pedido in item_de_pedido %}
            <tr>
                <td>{{ item_de_pedido.venda.id }}</td>
                <td>{{ item_de_pedido.produto.nome }}</td>
                <td>{{ item_de_pedido.produto.id }}</td>
                <td>{{ item_de_pedido.produto.valor_venda }}</td>
                <td>{{ item_de_pedido.quantidade_de_itens}}</td>
                <td>{{ item_de_pedido.desconto }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% regroup cities by country as country_list %}

<ul>
    {% for country in country_list %}
        <li>{{ country.grouper }}
            <ul>
            {% for city in country.list %}
                <li>{{ city.name }}: {{ city.population }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
-->