{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <form class='formulario' action="{% url 'categoria' %}" method="POST" >
         {% csrf_token %}
    <h1>
        <label style=" color:#EEE9E9;">Nova categoria</label>
    </h1>
            <a href="{% url 'produto' %}">
            <label style= " background-color: #6495ED; padding:3px; color:white; font-size:20px; border-radius: 5px;">Novo produto</label> </a>
            <label> Nome:</label>
            <input style=" width:310px;"  placeholder=" nome..." type="text" id="nome" name="nome" required/>
             <br>
            <button type="submit"> salvar</button>
    </form>
     <br>
    <table class="table">
     <thead>
        <tr>
          <th >Categoria</th>
          {% if perms.produto.change_categoria %}
            <th >Editar</th>
          {% endif %}

          {% if perms.produto.delete_categoria %}
            <th >Excluir</th>
          {% endif %}

        </tr>
    </thead>
        <tbody>
            {%for categoria in categoria %}
                <tr>
                    <td>{{ categoria.nome }}</td>

                {% if perms.produto.change_categoria %}
                    <td> <a href="{% url 'categoria_update' categoria.id %}">Editar</a> </td>
                {% endif %}

                {% if perms.produto.delete_categoria %}
                    <td> <a href="{% url 'categoria_delete' categoria.id %}">Excluir</a> </td>
                {% endif %}
                </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

{% endblock %}




