{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
   
<head >
    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>VieWorld  </title>
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>

    <link rel="stylesheet" href= "{% static 'Style/alerta_delete.css'%}">

    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Mercada varejista">
    <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque, vieworld, varejo"> 
    <meta name="author" content="cor">
</head>

        <body>
            <div >
                <form class='div_alerta_delete' method="POST">
                    <label>ALERTA!</label>
                     <br>
                     <br>
                    <label class='label_mensagem'>Tem certeza disso?</label>
                     <br>
                     <br>
                    {% csrf_token %}
                    <button type="submit">Confirmar</button>
                    <a href="{% url 'produto' %}"><input  type="button" value='Cancelar'></a>
                </form>
            </div>
        </body>
</html>