{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>

    <h2 class="sub_menu" >&nbsp; PRODUTO
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>
    {% if mensagen_de_erro %}
        <form  id="form_up" class='formulario' style="display: block;" action="{% url 'produto' %}" method="POST" >
    {% else %}
        <form  id="form_up" class='formulario' style="display: none;" action="{% url 'produto' %}" method="POST" >
    {% endif %}
       
        {% csrf_token %}

        <a id="termo_buttao" href="#" onclick="document.getElementById
        ('form_up').style.display='none';"> X</a>
        <p> NOVO PRODUTO</p>

        <hr> 
        <div>       
            <label> Nome</label> <br>
                <input style=" width:200px;"  placeholder=" Nome..." type="text"
                    id="nome" name="nome" required/>
        </div>
        <div>
            <label> Categoria</label> <br>
                <select style=" width:200px;" type="search" id="categoria_id"
                    name="categoria_id" >
                    <tr>
                        <option value='1'> __Selecionar__</option>
                    {% for categoria in categoria %}
                            <option value='{{categoria.id}}'> {{categoria}}</option>
                    {% endfor %}
                    </tr>
                </select>
        </div>
        <div>
            <label> Promoção</label> <br>
                <select style=" width:200px;" type="search" id="promocao"
                    name="promocao" required>
        </div>
        <div>
                        <option value='1'> __Selecionar__</option>
                    {% for promocao in promocao %}
                            <option value='{{promocao.id}}'> {{promocao.descricao}}</option>
                    {% endfor %}
                     </tr>
                </select>
        </div>
        <div>
            <label> Código do produto</label> <br>
                <input style=" width:170px;"  placeholder=" Código do produto..." type="text"
                    id="codigo" name="codigo"  required/>
        </div>
        <div>
            <label> Porcentagem de lucro</label> <br>
                <input style=" width:127px;"  placeholder=" 00,00%" type="text"
                    id="percentagem_de_lucro" name="percentagem_de_lucro" required/>
        </div>
        <div>
            <label> Valor da compra</label> <br>
                <input style=" width:150px;"  placeholder=" Valor da compra..."
                    type="text" id="valor_compra" name="valor_compra" required/>
        </div>
        <hr>
                <button id="refresh" type="submit"> salvar</button>
    </form>


<!-- Mensagem de erro -->
        {% if mensagen_de_erro %}
        <div id="div_alerta" class="divAlerta">
            <a href="#" onclick="document.getElementById('div_alerta').style.display='none';">
            <input class="butao_X" type="button" value="X" autofocus="autofocus", accesskey="x"> </a>
            <form class='formAlerta'>
                <label> ALERTA!</label>
                    <br>
                    <label style=" color: #EE3B3B; ";> {{mensagen_de_erro}} </label>
                    <br>
                    <label> Verifica o cdigo e tente novamente!</label>
                    <br>
                    <label> Para feichar, pressione  ( Alt  + X ) !</label>
                    <br>
            </form>
         </div>
         {%endif%}
         {% if mensagen_de_erro == false and produto.codigo != None%}
         <div id="div_alerta" class="divAlerta" style="margin-top: 200px;">
            <a href="#" onclick="document.getElementById('div_alerta').style.display='none';">
            <input class="butao_X" type="button" value="X" autofocus="autofocus", accesskey="x"> </a>
            <form class='formAlerta' style="background-color: chartreuse;">
                    <br>
                    <label style="color: black; font-size: 20px;"> 
                        Cadastrado com sucesso!</label>
                    <br>
                   
            </form>
         </div>
        {%endif%}
<br>




<!-- Formulário de busca de produtos -->
    <form class='campo_de_busca1' method="GET" action="{% url 'produto' %}">

              <input type="search" id="produt" name="produt" placeholder="Código do produto">
              <button  type="submit">Pesquisar</button>
    </form>

    <form class='campo_de_busca2' method="GET" action="{% url 'filtro-categoria' %}">
        <select  type="search" id="produt" name="produt" >
            <tr >
                <option value=''> __Filtrar por categoria__</option>
            {% for categoria in categoria %}
                    <option  value='{{categoria.id}}'> -{{categoria}}</option>
            {% endfor %}
             </tr>
        </select>
            <button  type="submit">Filtrar</button>
    </form>

<!-- Tabela de produtos -->
    <table class="table">
     <thead>
        <tr>
          <th >Nome</th>
          <th >Categoria </th>
          <th >Código</th>
          <th >Valor da compra</th>
          <th >Lucro estimado(%)</th>
          <th >Valor venal</th>
          <th >Em estoque</th>
          <th >Promoção</th>
          {% if perms.produto.change_produto %}
            <th >Editar </th>
          {% endif %}

          {% if perms.produto.delete_produto %}
            <th >Excluir </th>
          {% endif %}
        </tr>
    </thead>
        <tbody>
            {% for produto in produto %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.categoria.nome }}</td>
                    <td>{{ produto.codigo }}</td>
                     <td>R$ {{ produto.valor_compra | floatformat:2 }}</td>
                    <td>{{ produto.percentagem_de_lucro | floatformat:2 }}'% </td>
                    <td>R$ {{produto.valor_venal | floatformat:2 }}</td>
                    <td>
                        {% if  produto.estoque > 0 %}
                        <lavel> {{ produto.estoque }}</lavel>
                        {% else %}
                        <lavel Style= 'color: red;'> {{ produto.estoque }}</lavel>
                        {% endif %}
                    </td>
                    <td>{{ produto.promocao.descricao}}</td>

                    {% if perms.produto.change_produto %}
                        <td> <a href="{% url 'produto_update' produto.id %}">Editar</a>  </td>
                    {% endif %}

                    {% if perms.produto.delete_produto %}
                        <td>  <a href="{% url 'produto_delete' produto.id %}">Excluir</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}





