{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; FORNECEDOR </h2>
    <form  style="display:block;" id='formulario' class='formulario'  method="POST" >
        {% csrf_token %}
        <p> ATUALIZAR FORNECEDOR</p>
        <hr>
    <div>
            <label> Nome</label> <br>
                <input style=" width:200px;"  placeholder=" Nome..." type="text"
                    id="nome" name="nome" value="{{produto.nome}}" required/>
    </div>
    <div>
            <label> Categoria</label> <br>
                <select style=" width:200px;" type="search" id="categoria_id"
                    name="categoria_id" required>
                    <tr>
                        <option value='{{produto.categoria.id}}'> {{produto.categoria.nome}}</option>
                    {% for categoria in categoria %}
                            <option value='{{categoria.id}}'> {{categoria}}</option>
                    {% endfor %}
                    </tr>
                </select>
        </div>
        <div>
            <label> Promoção</label> <br>
                <select style=" width:200px;" type="search" id="promocao"
                    name="promocao" value="{{produto.promocao}}" >
                    <tr>
                        <option value='{{produto.promocao.id}}'> {{produto.promocao.descricao}}</option>
                    {% for promocao in promocao %}
                        <option value='{{promocao.id}}'> {{promocao.descricao}}</option>
                    {% endfor %}
                     </tr>
                </select>
        </div>
        <div>
            <label> Código do produto</label> <br>
                <input style=" width:170px;"  placeholder=" Código do produto..." type="text"
                    id="codigo" name="codigo" value="{{produto.codigo}}"  required/>
        </div>
        <div>
            <label> Porcentagem de lucro</label> <br>
                <input style=" width:127px;"  placeholder=" 00,00%" type="text" value="{{produto.percentagem_de_lucro}}"
                    id="percentagem_de_lucro" name="percentagem_de_lucro" required/>
        </div>
        <div>
            <label> Valor da compra</label> <br>
                <input style=" width:150px;"  placeholder=" Valor da compra..." value="{{produto.valor_compra}}"
                    type="text" id="valor_compra" name="valor_compra" required/>
        </div>
                <hr>
                <button type="submit"> salvar</button>
    </form>


<!-- Mensagem de erro -->
        {% if mensagen_de_erro %}
        <div id="div_alerta" class="divAlerta">
            <a href="#" onclick="document.getElementById('div_alerta').style.display='none';">
            <input class="butao_X" type="button" value="X" autofocus="autofocus", accesskey="x"> </a>
            <form class='formAlerta'>
                <label> ALERTA!</label>
                    <br>
                    <label style=" color: #EE3B3B; ";> {{mensagen_de_erro}} </label>
                    <br>
                    <label> Verifica o cdigo e tente novamente!</label>
                    <br>
                    <label> Para feichar, pressione  ( Alt  + X ) !</label>
                    <br>
            </form>
         </div>
        {%endif%}
<br>
</div>
{% endblock %}





