
{% extends 'base.html' %}

{% block main %}
<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; PROMOÇÃO
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>

    <form id="form_up" class='formulario' style="display: none;" action="{% url 'promocao' %}" method="POST" >
        {% csrf_token %}
        <a id="termo_buttao" href="#" onclick="document.getElementById
        ('form_up').style.display='none';"> X</a>
        <p> NOVA PROMOÇÃO</p>

        <hr> 
    <div> 
        <label> Descrição</label> <br>
            <input style=" width:200px;"  placeholder=" Descrição..." type="text"
                id="descricao" name="descricao" value='{{ promUpdate.descricao}}' required/>
    </div>
    <div>
        <label> Desconto a partir</label>  <br>
            <input style=" width:120px;" autofocus="autofocus" placeholder=" Digite a quantidade..."
                type="text" id="quantidade_promocional" name="quantidade_promocional"
                value='{{ promUpdate.quantidade_promocional}}' required/>
    </div>
    <div>
        <label> Desconto promocional (%)</label> <br>
            <input style=" width:110px;"  placeholder=" 0,00%" type="text"
                id="desconto" name="desconto" value='{{ promUpdate.desconto}}' required/>
    </div>
    <div>
        <label> Data de iníco</label> <br>
            <input style=" width:150px;"type="date" id="myDate" name="data_inicio"
                value='{{ promUpdate.data_inicio}}' required/>
    </div>
    <div>
        <label> Data de termino</label> <br>
            <input style=" width:150px;" type="date" id="data_termino"
                name="data_termino"  value='{{ promUpdate.data_termino}}' required/>
    </div>
            <hr>
        <button type="submit"> salvar</button>
    </form>


<br>
<!-- Tabela de produtos -->
    <table class="table">
     <thead>
        <tr>
          <th class="col_table" >Descrição </th>
          <th >Desconto a partir</th>
          <th >Desconto promocional</th>
          <th  >Data de iníco</th>
          <th >Data de termino</th>
           <th > Ação</th>
          
        </tr>
    </thead>
        <tbody>
            {% for promocao in promocao %}
                <tr>
                    <td class="col_table">{{ promocao.descricao}}</td>
                    <td>{{ promocao.quantidade_promocional | floatformat:2}}</td>
                    <td>{{ promocao.desconto | floatformat:2}}%</td>
                    <td>{{ promocao.data_inicio}}</td>
                    <td>{{ promocao.data_termino}}</td>

                    {% if perms.produto.change_promocao %}
                        <td> <a href="{% url 'promocao-update' promocao.id %} ">Editar</a> 
                    {% endif %}

                    {% if perms.produto.delete_promocao %}
                        <a href="{% url 'promocao_delete' promocao.id %} ">Excluir</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}