{% extends 'base.html' %}

{% block main %}
<div class= 'div_Mae'>
    <h2 class="sub_menu" >&nbsp; VALIDADE DOS PRODUTOS
    </h2>
<!-- formulário de filtro -->
    <form class='campo_de_busca' method="GET" action="{% url 'validade-produtos' %}">
        <div> 
            <label>Consultar por periodo</label><br>
            <input style="width:90px" type="date" id="dia" name="dia" >
            até
            <input style="width:90px" type="date" id="dia2" name="dia2" >
            <button style="width:50px" type="submit">Filtrar</button>
        </div>
    </form>

<!--tabela de entrada de mercadoria  -->
    <table class="table">
     <thead>
        <tr>
          <th >Produto</th>
          <th >Código</th>
          <th class="col_table"> Fornecedor </th>
          <th class="col_table">CNPJ do fornecedor</th>
          <th >Quantidade</th>
          <th>Validade</th>


        </tr>
    </thead>
    <tbody>
        {% for produto_a_vencer in produto_a_vencer %}
        <tr>
            <td>{{ produto_a_vencer.produto.nome}}</td>
            <td>{{ produto_a_vencer.produto.id}}</td>
            <td  class="col_table">{{ produto_a_vencer.fornecedor.nome_fantazia}}</td>
            <td class="col_table">{{ produto_a_vencer.fornecedor.cnpj}}</td>
            <td>{{ produto_a_vencer.quantidade}}</td>
            <td>
            {% if produto_a_vencer.validade_produto < today %}
                 <label style= 'color: red'> {{ produto_a_vencer.validade_produto}}</label>
            {% else %}
                 <label>{{ produto_a_vencer.validade_produto}}</label>
             {% endif %}
            </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}