{% extends 'base.html'%}
{% block main%}
{% load static%}
<br>
  <h2 class="sub_tito" >&nbsp; CAIXA
    <a href="{% url 'caixa' %}">Voltar</a>
    <div > 
      <label class="sub_menu"> 
          <img id="img_menu" src="{% static 'img/caixa.png' %}" >
          <a href="{% url 'caixa-deposito' caixa.id %}">DEPOSITAR</a>
      </label>

      <label class="sub_menu"> 
          <img id="img_menu" src="{% static 'img/caixa.png' %}" >
          <a href="{% url 'abrir-feixar-caixa' caixa.id %}">CAIXA</a>
      </label>
  </div>
</h2>
    <form class='formulario'  method="POST" >
        {% csrf_token %}
        <p> NOVA SAQUE</p>

        <hr> 
    <div>
        <label> <b> Caixa: </b></label>
        <label>{{ caixa.nome_do_caixa }}</label>
        <br>
        <label > <b> Saldo em caixa </b></label>
        <label>R${{ caixa.valor_atualizado }} </label>
    </div>
     
    <div>
        <label for="busca"> Descrição</label> <br>
            <input style=" width:200px;" type="text" id="descricao" name="descricao"
                placeholder="Descriçcão" >
    </div>
    <div>
        <label for="busca"> Valor</label> <br>
            <input style=" width:200px;" type="text" data-js="money" 
              id="sacar" name="sacar" placeholder="R$ 0,00" required/>
    </div>
            <hr>
            <button  type="submit">Sacar</button>

    </form>
    <br>
    <form class='campo_de_busca' method="GET" >
      <div>
        <label> Consultar histórico de saque</label> <br>
        <input style="width:90px; padding: 3px;" type="date" id="dia" name="dia" > <laabel>Até</laabel>
        <input style="width:90px; padding: 3px;" type="date" id="dia2" name="dia2" >
        <button  style="width:50px" type="submit">Filtrar</button>
      </div>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th >Descrição</th>
          <th >Valor do saque</th>
          <th >Caixa</th>
          <th >Data do deposito</th>
          <th >Responsável</th>

        </tr>
      </thead>
      <tbody>
        {% for sacar in sacar %}
            <tr>
              {%if sacar.sacar > 0 %}
                <td>{{ sacar.descricao }}</td>
                <td>R$ {{ sacar.sacar }}</td>
                <td>{{ sacar.caixa.nome_do_caixa }}</td>
                <td>{{ sacar.data_hora | date:'d/m/y  H:i' }}</td>
                <td>{{ sacar.user}}</td>
           
              {%endif%}
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}