{% extends 'base.html' %}

{% block main %}
{% load static%}
    <br>
    <h2 class="sub_tito" >&nbsp; SAIDA DE MERCADORIA
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
        <div > 
            <label class="sub_menu"> 
                <img id="img_menu" src="{% static 'img/frente_de_caixa.png' %}" width="500px" all=" ">
                <a href="{% url 'atualizar-pedido' %}">FRENTE DE CAIXA </a>
            </label> 
            <label class="sub_menu"> 
                <img id="img_menu" src="{% static 'img/estoque.png' %}" >
                <a href="{% url 'entrada-mercadoria' %}">ENTRADA</a>
            </label>

            <label class="sub_menu"> 
                <img id="img_menu" src="{% static 'img/estoque.png' %}" >
                <a href="{% url 'produto' %}">PRODUTOS</a>
            </label>
        </div>
    </h2>
    <form id="form_up" class='formulario' method="POST" action="{% url 'saida_mercadoria' %}" >
        {% csrf_token %}

            {% csrf_token %}
            <br>
            <label>Selecione o produto ou digite o código a baixa:</label>
            <br>
            {%if mensagen_de_erro_campo_obrigatorio%}
                <p style="color: red;">{{mensagen_de_erro_campo_obrigatorio}}</p>
            {%endif%}
            <select style=" width:120px;" type="search" id="produto_select" name="produto_select">
                <option value=''> __Selecionar o produto__</option>
                {% for p in produto %}
                    <option value='{{p.id}}'> {{p.codigo}} - {{p.nome}}, Est:{{p.estoque}}</option>
                {% endfor %}
            </select>

           <label>ou</label>

               <input style=" width:120px;" type="text" name="produto_codigo"
               id="produto_codigo" autofocus="autofocus" accesskey="z"
               placeholder="Código do produto">
           <br>
           <br>
           <label>Digite a quantidade de itens que está no seu estoque ou partileira</label>
           <br>
           <label> Estoque físico:</label>
               <input style=" width:130px;" accesskey="q"
               type="number" step=".01" lang="nb" name="estoque_fisico_atual"
                   id="estoque_fisico_atual" required/>
               <br>
               <br>
           <button id="bt_vendas1">Incluir</button>
           <label id="bt_vendas1" >
            <a style="color: white; font-size: 15px;" 
            href="{% url 'lista-vendas'%}">Histórico</a>
           </label>
           <br>
       </form><br>
       
       

       {% if mensagen_de_erro %}
       <div id="div_alerta" class="divAlerta">
           <a href="#" onclick="document.getElementById('div_alerta').style.display='none';">
           <input class="butao_X" type="button" value="X" autofocus="autofocus", accesskey="x"> </a>
           <div class='formAlerta'>
               <label> ALERTA!</label>
                   <br>
                   <label style=" color: #EE3B3B; ";> {{mensagen_de_erro}} </label>
                   <br>
                   <label> {{mensagen_de_erro_dica}}</label>
                   <br>
                   <label id='atalho'> {{mensagen_de_erro_acao}}</label>    
                   <br>
           </div>
       </div>
       {%endif%}
       {% if mensagen_de_erro_2%}
       <div id="div_alerta" class="divAlerta">
           <a href="#" onclick="document.getElementById('div_alerta').style.display='none';">
           <input class="butao_X" type="button" value="X" autofocus="autofocus", accesskey="x"> </a>
           <div class='formAlerta'>
               <label> ALERTA!</label>
                   <br>
                   <label style=" color: #EE3B3B; ";> {{mensagen_de_erro_2}} </label>
                   <br>
                   <label> {{mensagen_de_erro_dica}}</label>
                   <br>
                   <label id='atalho'> {{mensagen_de_erro_acao}}</label>    
                   <br>
           </div>
       </div>
       {%endif%}
       
        {% if saida%}
        <div style="background-color: rgb(183, 245, 190); height: 70px; padding: 10px;">
            <label style="font-size: 15px; text-align: center;">
                <b >ATUALIZADO COM SUCESSO!</b> 
                <br>
                <b>Produto:</b>{{ saida.produto.nome }} <br>
                <b>Quantidade vendido:</b>{{ saida.quantidade_de_itens }}<br>
                <b>Estoque atualizado:</b> {{saida.produto.estoque}} <br>
            </label>
        </div>
        {%endif%}
      

      </tbody>
    </table>


{% endblock %}