{% extends 'base.html'%}
{% block main%}
<br>
    <div >

        <form class='formulario' action="{% url 'vendas_update' vendas.id%}" method="POST">
            <ul>
                <label class='cadastroTitulo'> Finalizar venda {{data}}</label>
                    {% csrf_token%}
                    {{form.as_p}}
                <button  type="submit">Atualizar</button>
                <p> </p>
                <button  type="submit">Gerar cupom fiscal</button>

            </ul>
        </form>


    </div>
{% endblock %}