{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; FORNECEDOR </h2>
    <form class='formulario'  method="POST" >
         {% csrf_token %}
        <p> ATUALIZAR FORNECEDOR</p>
        <hr>
        <div>
            <label> Nome fantazia*</label> <br>
                <input style=" width:200px;"  placeholder=" Nome..." value="{{fornecedor.nome_fantazia}}"
                type="text" id="nome_fantazia" name="nome_fantazia" required/>
        </div>
        <div>
            <label> Cnpj*</label> <br>
                <input style=" width:150;"  placeholder="Cnpj..." value="{{fornecedor.cnpj}}"
                    type="text" id="cnpj" name="cnpj" required/>
        </div>
        <div>
            <label> Data de criação</label> <br>
                <input style=" width:140px;"  placeholder=" Data de criação:" value="{{fornecedor.data_de_criacao}}"
                    type="date" id="data_de_criacao" name="data_de_criacao" required/>
        </div>
        <div>
             <label> Nascionalidade</label> <br>
            <select style=" width:140px;" type="text" id="nascionalidade" value="{{fornecedor.nascionalidade}}"
                name="nascionalidade" >
                <tr>
                    <option value=''> __Selecionar__</option>
                    <option >Nacional </option>
                    <option >Multinacional  </option>
                </tr>
            </select>
        </div>
        <div>
             <label>Cep</label> <br>
                <input style=" width:140px;"  placeholder=" Cep..." value="{{fornecedor.cep}}"
                    type="text" id="cep" name="cep" />
        </div>
        <div>
            <label> Rua</label> <br>
                <input style=" width:200px;"  placeholder=" Rua..." value="{{fornecedor.rua}}"
                    type="text" id="rua" name="rua" />
        </div>
        <div>
            <label> Quadra</label> <br>
                <input style=" width:80px;"  placeholder=" Quadra..." value="{{fornecedor.quadra}}"
                    type="text" id="quadra" name="quadra" />
        </div>
        <div>
            <label> Número</label> <br>
                <input style=" width:80px;"  placeholder=" Número..." value="{{fornecedor.numero}}"
                    type="text" id="numero" name="numero" />
        </div>
        <div>
            <label> Setor</label> <br>
                <input style=" width:150px;"  placeholder=" Setor..." value="{{fornecedor.setor}}"
                    type="text" id="setor" name="setor" />
        </div>
        <div>
            <label> Estado</label> <br>
                <input style=" width:200px;"  placeholder=" Estado..." value="{{fornecedor.estado}}"
                    type="text" id="estado" name="estado" />
        </div>
        <div>
            <label> Cidade</label> <br>
                <input style=" width:200px;"  placeholder=" Cidade..." value="{{fornecedor.cidade}}"
                    type="text" id="cidade" name="cidade" />
        </div>
        <div>
            <label> Complemento</label> <br>
                <input style=" width:180px;"  placeholder=" Complemento..." value="{{fornecedor.complemento}}"
                    type="text" id="complemento" name="complemento" />
        </div>
        <div>
            <label> Pais</label> <br>
                <input style=" width:100px;"  placeholder=" Pais..." value="{{fornecedor.pais}}"
                    type="text" id="pais" name="pais" />
        </div>
        <div>
            <label> Celular</label> <br>
                <input style=" width:100px;"  placeholder=" Celular..." value="{{fornecedor.Celular}}"
                    type="text" id="Celular" name="Celular" />
        </div>
        <div>
            <label> Celular 2</label> <br>
                <input style=" width:120px;"  placeholder=" Celular 2..." value="{{fornecedor.Celular2}}"
                    type="text" id="Celular2" name="Celular2" />
        </div>
        <div>
            <label> Telefone</label> <br>
                <input placeholder=" Telefone..." value="{{fornecedor.Telefone}}"
                    type="text" id="Telefone" name="Telefone" />
        </div>
        <div>
            <label> E-mail</label> <br>
                <input   placeholder=" E-mail..." value="{{fornecedor.email}}"
                    type="text" id="email" name="email" />
        </div>
            
            <hr>
            <button  type="submit"> Atualizar</button>
  </form>
</div>
{% endblock %}
