{% extends 'base.html' %} 

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; CLIENTE
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>
    <form id="form_up" class='formulario' style="display: none;" action="{% url 'novo-cliente' %}" method="POST" >
         {% csrf_token %}
                <a id="termo_buttao" href="#" onclick="document.getElementById
                ('form_up').style.display='none';"> X</a>
                <p> NOVO FUNCIONÁRIO</p>

            <hr> 
        <div>
            <label> Nome*</label><br>
                <input style=" width:200px;"  placeholder=" Nome..." type="text" id="nome" name="nome" required/>
        </div>
        <div> 
            <label> Segundo nome*</label><br>
                <input style=" width:200px;"  placeholder="Segundo nome..." type="text" id="segundo_nome" name="segundo_nome" required/>
        </div>
        <div> 
            <label> Cpf ou cnpj*</label><br>
                <input style=" width:200px;"  placeholder=" Cpf ou cnpj..." type="text" id="cpf_cnpj" name="cpf_cnpj" required/>
        </div>
        <div> 
            <label> Data de nascimento*</label><br>
                <input style=" width:180px;"  placeholder=" Data de nascimento.." type="date" id="data_de_nascimento" name="data_de_nascimento" required/>
        </div>
        <div> 
            <label> Sexo*</label><br>
            <select style=" width:150px;" type="text" id="sexo_id" name="sexo_id" required/>
                <tr>
                    <option value=''> __Sexo__</option>
                    <option value="3">Feminino </option>
                    <option value="2">Masculino  </option>
                </tr>
            </select>
        </div>
        <div> 
             <label> Nascionalidade*</label><br>
            <select style=" width:140px;" type="text" id="nascionalidade" name="nascionalidade" required/>
                <tr>
                    <option value=''> __Selecionar__</option>
                    <option >Nacional </option>
                    <option >Estrangeiro  </option>
                </tr>
            </select>
        </div>
        <div> 

             <label>Cep</label><br>
                <input style=" width:140px;"  placeholder=" Cep..." type="text" id="cep" name="cep" />
        </div>
        <div> 

            <label> Rua</label><br>
                <input style=" width:200px;"  placeholder=" Rua..." type="text" id="rua" name="rua" />
        </div>
        <div> 
            <label> Quadra</label><br>
                <input style=" width:80px;"  placeholder=" Quadra..." type="text" id="quadra" name="quadra" />
        </div>
        <div> 
            <label> Número</label><br>
                <input style=" width:80px;"  placeholder=" Número..." type="text" id="numero" name="numero" />
        </div>
        <div> 
            <label> Setor</label><br>
                <input style=" width:150px;"  placeholder=" Setor..." type="text" id="setor" name="setor" />
        </div>
        <div> 

            <label> Estado</label><br>
                <input style=" width:200px;"  placeholder=" Estado..." type="text" id="estado" name="estado" />
        </div>
        <div> 

            <label> Cidade</label><br>
                <input style=" width:200px;"  placeholder=" Cidade..." type="text" id="cidade" name="cidade" />
        </div>
        <div> 

            <label> Complemento</label><br>
                <input style=" width:180px;"  placeholder=" Complemento..." type="text" id="complemento" name="complemento" />
        </div>
        <div> 
            <label> Pais</label><br>
                <input style=" width:100px;"  placeholder=" Pais..." type="text" id="pais" name="pais" />
        </div>
        <div> 
            <label> Celular:</label><br>
                <input style=" width:150px;"  placeholder=" Celular..." type="text" id="Celular" name="Celular" />
        </div>
        <div> 

            <label> Celular 2</label><br>
                <input style=" width:150px;"  placeholder=" Celular 2..." type="text" id="Celular2" name="Celular2" />
        </div>
        <div> 

            <label> Telefone</label><br>
                <input style=" width:150px;" placeholder=" Telefone..." type="text" id="Telefone" name="Telefone" />
        </div>
        <div> 
            <label> E-mail</label><br>
                <input style=" width:150px;"  placeholder=" E-mail..." type="text" id="email" name="email" />
        </div>
            
            <hr>
            <button  type="submit"> salvar</button>
    </form>
       <br>
    <form class='campo_de_busca1' method="GET" action="{% url 'novo-cliente' %}">
              <input  type="search" id="client" name="client" placeholder="Cpf ou cnpj...">
              <button  type="submit">Pesquisar</button>
    </form>
    <table class="table">
     <thead>
        <tr>
           <th >Nome</th>
           <th >CPF/CNPJ</th>
           <th >Data de Nascimento</th>
           {% if perms.pessoa.change_cliente %}
                <th >Editar</th>
            {%endif%}

            {% if perms.pessoa.delete_cliente %}
                <th >Excluira</th>
            {%endif%}
        </tr>
    </thead>
        <tbody>
            {%for cliente in cliente %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf_cnpj }}</td>
                    <td>{{ cliente.data_de_nascimento }}</td>

                    {% if perms.pessoa.change_cliente %}
                    <td>   <a href="{% url 'cliente_update' cliente.id %}">Editar</a> </td>
                    {%endif%}

                    {% if perms.pessoa.delete_cliente %}
                    <td> <a href="{% url 'cliente_delete' cliente.id %}">Excluir</a> </td>
                    {%endif%}
                </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

{% endblock %}