{% extends 'base.html' %}

{% block main %}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; FORNECEDOR
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>
    <form id="form_up" class='formulario' style="display: none;" action="{% url 'novo-fornecedor' %}" method="POST" >
         {% csrf_token %}
         <a id="termo_buttao" href="#" onclick="document.getElementById
         ('form_up').style.display='none';"> X</a>
         <p> NOVO FORNECEDOR</p>

            <hr> 
        <div>
            <label> Nome fantazia*</label> <br>
                <input style=" width:200px;"  placeholder=" Nome..." type="text" id="nome_fantazia" name="nome_fantazia" required/>
        </div>
        <div>
            <label> Cnpj*</label> <br>
                <input style=" width:150;"  placeholder="Cnpj..." type="text" id="cnpj" name="cnpj" required/>
            </div>
            <div>
            <label> Data de criação</label> <br>
                <input style=" width:140px;"  placeholder=" Data de criação:" type="date" id="data_de_criacao" name="data_de_criacao" required/>
            </div>
            <div>
             <label> Nascionalidade</label> <br>
            <select style=" width:140px;" type="text" id="nascionalidade" name="nascionalidade" >
                <tr>
                    <option value=''> __Selecionar__</option>
                    <option >Nacional </option>
                    <option >Multinacional  </option>
                </tr>
            </select>
        </div>
        <div>
             <label>Cep</label> <br>
                <input style=" width:140px;"  placeholder=" Cep..." type="text" id="cep" name="cep" />
        </div>
        <div>
            <label> Rua</label> <br>
                <input style=" width:200px;"  placeholder=" Rua..." type="text" id="rua" name="rua" />
        </div>
        <div>
            <label> Quadra</label> <br>
                <input style=" width:80px;"  placeholder=" Quadra..." type="text" id="quadra" name="quadra" />
        </div>
        <div>
            <label> Número</label> <br>
                <input style=" width:80px;"  placeholder=" Número..." type="text" id="numero" name="numero" />
        </div>
        <div>
            <label> Setor</label> <br>
                <input style=" width:150px;"  placeholder=" Setor..." type="text" id="setor" name="setor" />
        </div>
        <div>
            <label> Estado</label> <br>
                <input style=" width:200px;"  placeholder=" Estado..." type="text" id="estado" name="estado" />
        </div>
        <div>
            <label> Cidade</label> <br>
                <input style=" width:200px;"  placeholder=" Cidade..." type="text" id="cidade" name="cidade" />
        </div>
        <div>
            <label> Complemento</label> <br>
                <input style=" width:180px;"  placeholder=" Complemento..." type="text" id="complemento" name="complemento" />
        </div>
        <div>
            <label> Pais</label> <br>
                <input style=" width:100px;"  placeholder=" Pais..." type="text" id="pais" name="pais" />
        </div>
        <div>
            <label> Celular</label> <br>
                <input style=" width:150px;"  placeholder=" Celular..." type="text" id="Celular" name="Celular" />
        </div>
        <div>
            <label> Celular 2</label> <br>
                <input style=" width:150px;"  placeholder=" Celular 2..." type="text" id="Celular2" name="Celular2" />
        </div>
        <div>
            <label> Telefone</label> <br>
                <input style=" width:150px;" placeholder=" Telefone..." type="text" id="Telefone" name="Telefone" />
        </div>
        <div>
            <label> E-mail</label> <br>
                <input style=" width:200px;"  placeholder=" E-mail..." type="text" id="email" name="email" />
            </div>
            <hr>
            <button  type="submit"> Salvar</button>
            <br>
    </form>
        <br>
     <form class='campo_de_busca' method="GET" action="{% url 'novo-fornecedor' %}">
        <label>Buscar fornecedor</label><br>
        <input  type="search" id="fornecedor" name="fornecedor" placeholder="Cnpj ou Cpf">
        <button type="submit">Pesquisar</button>
    </form>
    <table class="table">
     <thead>
        <tr>
            <th >Nome</th>
            <th >CNPJ</th>
            <th >Data de criação</th>
        {% if perms.pessoa.change_fornecedor %}
            <th >Editar</th>
        {%endif%}

        {% if perms.pessoa.delete_fornecedor %}
            <th >Excluir</th>
        {%endif%}
        </tr>
    </thead>
        <tbody>
            {%for fornecedor in fornecedor %}
                <tr>
                    <td>{{ fornecedor.nome_fantazia }}</td>
                    <td>{{ fornecedor.cnpj }}</td>
                    <td>{{ fornecedor.data_de_criacao }}</td>

                    {% if perms.pessoa.change_fornecedor %}
                        <td> <a href="{% url 'fornecedor_update' fornecedor.id %}">Editar</a> </td>
                    {%endif%}

                    {% if perms.pessoa.delete_fornecedor %}
                        <td> <a href="{% url 'fornecedor_delete' fornecedor.id %}">Excluir</a> </td>
                    {%endif%}
                </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

{% endblock %}
