{% extends 'base.html' %} 
{% block main %}
{% load static%}
<br>
    <h2 class="sub_tito" >&nbsp; CLIENTE
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
        <div>
            <label class="sub_menu"> 
                <img id="img_menu" src="{% static 'img/contas.png' %}" width="500px" all=" ">
                <a href="{% url 'conta_areceber' %}">CONTAS A RECEBER</a>
            </label>
        </div>
    </h2>
    <form id="form_up" class='formulario' style="display: none;" action="{% url 'novo-cliente' %}" method="POST" >
         {% csrf_token %}
                <a id="termo_buttao" href="#" onclick="document.getElementById
                ('form_up').style.display='none';"> X</a>
                <p> NOVO CLIENTE</p>

            <hr> 
           
        <div>
            <label> Nome*</label><br>
                <input style=" width:200px;"  placeholder="Nome..." type="text" 
                maxlength="30" id="nome" name="nome" required/>
        </div>
        <div> 
            <label> Segundo nome*</label><br>
                <input style=" width:200px;"  placeholder="Ex: da silva..." 
                maxlength="30" type="text" id="segundo_nome" name="segundo_nome" required/>
        </div>
        <div> 
            <label> Cpf*</label><br>
                <input style=" width:200px;"  placeholder="000.000.000-00" 
                type="text" data-js="cpf" minlength="10" id="cpf_cnpj" 
                name="cpf_cnpj" required/>
        </div>
        <br>

        <div> 
            <label> Data de nascimento</label><br>
                <input style=" width:180px;"  placeholder=" Data de nascimento.." type="date" 
                id="data_de_nascimento" name="data_de_nascimento" >
        </div>
        <div> 
            <label> Sexo</label><br>
            <select style=" width:150px;" type="text" id="sexo_id" name="sexo_id" >
                <tr>
                    <option value='1'> __Sexo__</option>
                    <option value="3">Feminino </option>
                    <option value="2">Masculino  </option>
                    <option value="1">Outro  </option>
                </tr>
            </select>
        </div>
        <div> 
             <label> Nascionalidade*</label><br>
            <select style=" width:140px;" type="text" id="nascionalidade" name="nascionalidade" >
                <tr>
                    <option value=''> __Selecionar__</option>
                    <option >Nacional </option>
                    <option >Estrangeiro  </option>
                </tr>
            </select>
        </div>
        <div> 

             <label>Cep</label><br>
                <input style=" width:140px;"  placeholder="00000-000" type="text" data-js="cep"
                  id="cep" name="cep" />
        </div>
        <div> 

            <label> Rua</label><br>
                <input style=" width:200px;"  placeholder=" Rua..." type="text" 
                maxlength="30" id="rua" name="rua" />
        </div>
        <div> 
            <label> Quadra</label><br>
                <input style=" width:80px;"  placeholder=" Quadra..." type="number" 
                max="999999999" id="quadra" name="quadra" />
        </div>
        <div> 
            <label> Número</label><br>
                <input style=" width:180px;"  placeholder="Casa ou apartamento" type="number" 
                max="999999999" id="numero" name="numero" />
        </div>
        <div> 
            <label> Setor</label><br>
                <input style=" width:150px;"  placeholder=" Setor..." type="text" 
                maxlength="30" id="setor" name="setor" />
        </div>
        <div> 

            <label> Estado</label><br>
                <input style=" width:200px;"  placeholder=" Estado..." type="text" 
                maxlength="30" id="estado" name="estado" />
        </div>
        <div> 

            <label> Cidade</label><br>
                <input style=" width:200px;"  placeholder=" Cidade..." type="text" 
                maxlength="30" id="cidade" name="cidade" />
        </div>
        <div> 

            <label> Complemento</label><br>
                <input style=" width:180px;"  placeholder="Ex: Bloco, ap, casa" type="text" 
                maxlength="30" id="complemento" name="complemento" />
        </div>
        <div> 
            <label> Pais</label><br>
                <input style=" width:100px;"  placeholder=" Pais..." type="text" id="pais" 
                maxlength="30" name="pais" />
        </div>
        <div> 
            <label> Celular:</label><br>
                <input style=" width:150px;"  placeholder="(00) 00000-0000" type="text" data-js="phone" id="Celular" name="Celular" />
        </div>
        <div> 

            <label> Celular 2</label><br>
                <input style=" width:150px;"  placeholder="(00) 00000-0000" type="text" data-js="phone"
                    id="Celular2" name="Celular2" />
        </div>
        <div> 

            <label> Telefone</label><br>
                <input style=" width:150px;" placeholder="(00) 00000-0000" type="text" data-js="phone"
                    id="Telefone" name="Telefone" />
        </div>
        <div> 
            <label> E-mail</label><br>
                <input style=" width:200px;"  placeholder=" usuario@dominio.com" type="email" id="email" name="email" />
        </div>
            
            <hr>
            <button  type="submit"> Salvar</button>
    </form>
    
       <br>
    <form class='campo_de_busca' method="GET" action="{% url 'novo-cliente' %}">
        <label>Buscar clientes</label><br>
        <input  type="search" data-js="cpf" id="client" name="client" placeholder="000.000.000-00">
        <button  type="submit">Buscar</button>
    </form>
    <table class="table">
     <thead>
        <tr>
           <th >Nome</th>
           <th >CPF/CNPJ</th>
           <th >Data de Nascimento</th>
           {% if perms.pessoa.change_cliente %}
                <th >Editar</th>
            {%endif%}

            {% if perms.pessoa.delete_cliente %}
                <th >Excluir</th>
            {%endif%}
        </tr>
    </thead>
        <tbody>
            {%for cliente in cliente %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf_cnpj }}</td>
                    <td>{{ cliente.data_de_nascimento | date:'d-m-y'}}</td>

                    {% if perms.pessoa.change_cliente %}
                    <td>   <a href="{% url 'cliente_update' cliente.id %}">Editar</a> </td>
                    {%endif%}

                    {% if perms.pessoa.delete_cliente %}
                    <td> <a href="{% url 'cliente_delete' cliente.id %}">Excluir</a> </td>
                    {%endif%}
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}
