{% extends 'base.html'%}
{% block main%}
<!-- CDASTRO  DE PRODUTOS -->
<div class='div_Mae'>
  <h2 class="sub_menu" >&nbsp; CAIXA
    <a 
        href="#" onclick="document.getElementById('form_up').style.display='block';">
            Adicionar 
    </a>
  </h2>

    {% if perms.fluxo_de_caixa.add_caixa %}
    <form id="form_up" class='formulario' style="display: none;" method="POST" action="{% url 'caixa' %}">
    
    <a id="termo_buttao" href="#" onclick="document.getElementById
    ('form_up').style.display='none';"> X</a>
    <p> NOVA CAIXA</p>

   <hr> 
   {% csrf_token %}
   <div> 
      <label for="busca"> Nome</label> <br>
        <input style=" width:200px;" type="text" id="nome_do_caixa" name="nome_do_caixa"
            placeholder="Nome do novo caixa..." required/>
    </div>
    <div>
      <label> Funcioário responsável</label> <br>
          <select style=" width:230px;" type="select"  name="funcionario" id="funcionario" required/>
              <option value=''> __Selecionar__ </option>
          {% for funcionarios in funcionarios %}
              <option value='{{funcionarios.id}}'> {{funcionarios.nome}} </option>
          {% endfor %}
          </select >
     </div>
          <hr>
          <button  type="submit">Criar</button>

    </form>


<form class='campo_de_busca1'>
</form>
    <table class="table">
      <thead>
        <tr>
          <th >Caixa</th>
          <th >Saldo</th>
          <th >Sacar</th>
          <th >Depositar</th>
          <th>Estado do caixa</th>

        </tr>
      </thead>
      <tbody>
        {% for caixa in caixa %}
            <tr>
                <td>{{ caixa.nome_do_caixa }}</td>
                <td>R$ {{ caixa.valor_atualizado }}</td>

                <td>  <a href="{% url 'caixa-sacar' caixa.id %}">Sacar</a> </td>
                <td>  <a href="{% url 'caixa-deposito' caixa.id %}">Depositar</a> </td>
                <td>  <a href="{% url 'abrir-feixar-caixa' caixa.id %}">Visualizar</a> </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <form class='campo_de_busca1'>
    <h1> Caixa </h1>
    </form>1>
    <table class="table"> <!-- tabela do usuário logado-->
      <thead>
        <tr>
          <th >Caixa</th>
          <th >Saldo</th>
          <th >Sacar</th>
          <th >Depositar</th>
          <th>Estado do caixa</th>

        </tr>
      </thead>
      <tbody>
        {% for caixa in caixa_user_logado %}
            <tr>
                <td>{{ caixa.nome_do_caixa }}</td>
                <td>R$ {{ caixa.valor_atualizado }}</td>

                <td>  <a href="{% url 'caixa-sacar' caixa.id %}">Sacar</a> </td>
                <td>  <a href="{% url 'caixa-deposito' caixa.id %}">Depositar</a> </td>
                <td>  <a href="{% url 'abrir-feixar-caixa' caixa.id %}">Visualizar</a> </td>
                
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif%}
</div>
{% endblock %}