{% extends 'base.html'%}
{% block main%}
<!-- CDASTRO  DE PRODUTOS -->
<div class='div_Mae'>

    {% if perms.fluxo_de_caixa.add_caixa %}
    <form class='formulario' method="POST" action="{% url 'caixa' %}">
    {% csrf_token %}
          <h1 > Novo caixa</h1>

    <label for="busca"> Nome:</label>
        <input style=" width:200px;" type="text" id="nome_do_caixa" name="nome_do_caixa"
            placeholder="Nome do novo caixa..." required/>
        <br>
    <label> Funcioário responsável:</label>
        <select style=" width:200px;" type="select"  name="funcionario" id="funcionario" required/>
            <option value=''> __Selecionar__ </option>
        {% for funcionarios in funcionarios %}
            <option value='{{funcionarios.id}}'> Nome:{{funcionarios}} </option>
        {% endfor %}
        </select >
         <br>
        <button  type="submit">Criar</button>

    </form>


<form class='campo_de_busca1'>
<h1> Caixa </h1>
</form>
    <table class="table">
      <thead>
        <tr>
          <th >Caixa</th>
          <th >Saldo</th>
          <th >Sacar</th>
          <th >Depositar</th>
          <th>Estado do caixa</th>

        </tr>
      </thead>
      <tbody>
        {% for caixa in caixa %}
            <tr>
                <td>{{ caixa.nome_do_caixa }}</td>
                <td>R$ {{ caixa.valor_atualizado }}</td>

                <td>  <a href="{% url 'caixa-sacar' caixa.id %}">Sacar</a> </td>
                <td>  <a href="{% url 'caixa-deposito' caixa.id %}">Depositar</a> </td>
                <td>  <a href="{% url 'abrir-feixar-caixa' caixa.id %}">Visualizar</a> </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <form class='campo_de_busca1'>
    <h1> Caixa </h1>
    </form>1>
    <table class="table"> <!-- tabela do usuário logado-->
      <thead>
        <tr>
          <th >Caixa</th>
          <th >Saldo</th>
          <th >Sacar</th>
          <th >Depositar</th>
          <th>Estado do caixa</th>

        </tr>
      </thead>
      <tbody>
        {% for caixa in caixa_user_logado %}
            <tr>
                <td>{{ caixa.nome_do_caixa }}</td>
                <td>R$ {{ caixa.valor_atualizado }}</td>

                <td>  <a href="{% url 'caixa-sacar' caixa.id %}">Sacar</a> </td>
                <td>  <a href="{% url 'caixa-deposito' caixa.id %}">Depositar</a> </td>
                <td>  <a href="{% url 'abrir-feixar-caixa' caixa.id %}">Visualizar</a> </td>
                
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif%}
</div>
{% endblock %}