{% extends 'base.html'%}
{% block main%}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; CAIXA
      <a href="{% url 'caixa' %}">Voltar</a>
      </a>
  </h2>
    <form class='formulario' method="POST">
        {% csrf_token %}
        <p> NOVA DEPÓSITO</p>

       <hr> 
    <div>
         <label> <b> Caixa: </b></label>
         <label>{{ caixa.nome_do_caixa }}</label>
        <br>
         <label > <b> Saldo em caixa </b></label>
         <label>R$ {{ caixa.valor_atualizado }} </label>
    </div>
    <div>
        <label for="busca"> Descrição</label> <br>
            <input style=" width:200px;" type="text" id="descricao" name="descricao"
                placeholder="Descriçcão" >
    </div> 
    <div> 
        
        <label for="busca"> Valor</label> <br>
            <input style=" width:200px;" type="text" id="depositar" name="depositar"
                placeholder="0,00" required/>
    </div> 
                <hr>
            <button  type="submit">Depositar</button>

    </form>
    <br>
    <form class='campo_de_busca' method="GET" >
      <div>
        <label> Consultar histórico de depósito</label> <br>
        <input  style="width:90px; padding: 3px;" type="date" id="dia" name="dia" > até
        <input  style="width:90px; padding: 3px;" type="date" id="dia2" name="dia2" >
        <button style="width:50px" type="submit">Filtrar</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th >Descrição</th>
          <th >Valor depositado</th>
          <th >Data do deposito</th>
          <th >Responsável</th>

        </tr>
      </thead>
      <tbody>
        {% for deposito in depositos %}
            <tr>
              {% if deposito.depositar > 0%}
                <td>{{ deposito.descricao }}</td>
                <td>R$ {{ deposito.depositar }}</td>
                <td>{{ deposito.data_hora.date }}</td>
                <td>{{ deposito.user.username}}</td>
              {%endif%}
            </tr>
        {% endfor %}
      </tbody>
    </table>





</div>
{% endblock %}