{% extends 'base.html'%}
   {% block main%}

<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; VENDAS REALIZADAS 
        {% if perms.fluxo_de_caixa.add_venda %}
            <a href="{% url 'atualizar-pedido' %}"> 
            Adicionar 
        {% endif %}
    </a>
    </h2>
    <form id="form_mobil" class='campo_de_busca' method="GET" action="{% url 'lista-vendas' %}">
        <a id="br_X_mobil" href="#" onclick="document.getElementById
        ('form_mobil').style.display='none';"> X</a>
    <div>    
        <label>Buscar vendas</label> <br>
        <input style="width:160px" type="search" id="venda" name="venda" placeholder="Número do cliente...">
            <button  type="submit">Buscar</button>
    </div> 
    <div > 
        <label>Selecione o dia</label> <br>
        <input style="padding: 3px;" type="date" id="dia" name="dia">
            <button  type="submit">Filtrar</button>
        </div> 
        <div > 
            <label>Selecione o mês</label> <br>
        <select  type="search" id="mes" name="mes" >
                <tr>
                        <option value='{{today.month}}'> __Selecionar__</option>
                        <option value='1'> -Janeiro</option>
                        <option value='2'> -Fevereiro</option>
                        <option value='3'> -Março</option>
                        <option value='4'> -Abril</option>
                        <option value='5'> -Maio</option>
                        <option value='6'> -Junho</option>
                        <option value='7'> -Julho</option>
                        <option value='8'> -Agosto</option>
                        <option value='9'> -Setembro</option>
                        <option value='10'> -Outubro</option>
                        <option value='11'> -Novembro</option>
                        <option value='12'> -Dezembor</option>
                </tr>
                 <br>
        </select>
        <button  type="submit">Filtrar</button>
    </div> 
    </form>
        <a id= "mostrar_filtros"
        href="#" onclick="document.getElementById('form_mobil').style.display='block';">
            Mostrar filtros 
        </a>

    <table class='table'>
      <thead>
        <tr>
            <th>Cliente</th>
            <th class="col_table"> Data</th>
            <th>Descrição</th>
            <th class="col_table">Desconto</th>
            <th>Valor</th>
            {% if perms.fluxo_de_caixa.add_venda and perms.fluxo_de_caixa.delete_venda%}
            <th >Ação</th>
            {%endif%}
            <th >Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td class="col_table">{{ venda.data_hora | date:'d/m/y  H:i'}}</td>
                <td >{{ venda.descricao}}</td>
                <td class="col_table">R$ {{ venda.total_desconto }}</td>
                <td>R$ {{ venda.valor }}</td>
                
                    {% if perms.fluxo_de_caixa.add_venda and perms.fluxo_de_caixa.delete_venda%}
                <td>
                    <a href="{% url 'edit-pedido' venda.id %} "> Editar </a>  
            
                    <a href="{% url 'delete-pedido' venda.id %} ">Excluir</a> 
                </td>  
                    {%endif%}
                
                
                {% if venda.troco < 0  or venda.tipo_de_pagamento_id == None %}
                    <td>
                        {% if perms.fluxo_de_caixa.change_venda %}
                            <label> <a Style= 'color: red;' href="{% url 'edit-pedido' venda.id %} "> Pagar </a>  </label>
                        {% else %}
                            <label Style= 'color: red;'> Não Pago </label>
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        
                        <label>Pago </label>
                    </td>
                {% endif %}
                
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}




