{% extends 'base.html'%}
{% block main%}
<div class='div_Mae'>

</form >

<form class='usuario'>
    <br>
    <br>
    <p style= "font-size: 20px;"><b>CONFIGURAÇOES DA CONTA </b></p>
    <hr>
    <label><b> Usuário:</b> {{user.username}}</label>
     <br>
    <label> <b> E-mail: </b> {{user.email}}</label>
    <br>
    <hr>
    <br>
    <button style="width: 50%; border: 1px solid #303131; color:white; background-color: #4F4F4F; font-size:18px;">
        <a style="color:white;" href="{% url 'password_change'%} ">Alterar senha</a> </button>
   
    <br>
    <br>
    <hr>
    <p style= "font-size: 20px;"><b>INFORMAÇÕES DA CONTA </b></p>
    <hr>
    <label><b>Nome fantazia: </b> {{usuario.nome_fantazia}}</label>
     
    <label><b>Cnpj ou Cpf:</b> {{usuario.cpf_cnpj}}</label>
     
    <label><b>Data de criacão:</b> {{usuario.data_de_criacao}}</label>
     
    <label><b> Razão Social:</b> {{usuario.razao_social}}</label>
     
    <label><b>Inscricão Estadual:</b> {{usuario.inscricao_estadual}}</label>
     
    <label> <b>Inscricão Municipal:</b> {{usuario.inscricao_municipal}}</label>
   
    <label><b>Nascionalidade:</b> {{usuario.nascionalidade}}</label>
    <br>
    <p style="font-size: 20px;"><b>ENDEREÇO</b></p>
    <hr>
    <label> <b>CEP:</b> {{usuario.cep}}</label>
     
    <label><b>Rua:</b> {{usuario.rua}}</label>
     
    <label><b>Quadra:</b> {{usuario.quadra}}</label>
     
    <label><b>Número:</b> {{usuario.numero}}</label>
     
    <label><b>Setor:</b> {{usuario.setor}}</label>
     
    <label><b>Pais:</b> {{usuario.pais}}</label>
     
    <label><b>Estado:</b> {{usuario.estado}}</label>
     
    <label><b>Cidade:</b> {{usuario.cidade}}</label>
     
    <label><b>Complemento:</b> {{usuario.complemento}}</label>

    <br>
    <p style=" font-size: 20px;"><b>CONTATO</b></p>
    <hr>
    <label><b>Celular:</b> {{usuario.DDD}} {{usuario.Celular}}</label>
    <label><b>Telefone:</b> {{usuario.DDD}} {{usuario.Telefone}}</label>
    <label><b>E-mail:</b> {{usuario.email}}</label>
     <br>
     <br>
     <hr>
    <button style="width: 50%; border: 1px solid #303131; color:white; background-color: #4F4F4F; font-size:18px;">
    <a style="color:white;" href="{% url 'update-usuario'%} ">Alterar</a> </button>
    <br>
    <br>
    <br>
</form>
</div>
{% endblock %}