{% load static%}
   <meta charcet="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
   <title> VieWorld  </title>

   <link rel="stylesheet" href= "{% static 'style/home.css'%}">

   <meta charcet="UTF-8">
   <meta name="cor" content="width=device-width,initial=scale=1">
   <meta name="description" content="Rede SociL cor">
  <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
   <meta name="author" content="cor">
</head>
<body>
   
<div class='div_mae'>
       
       
  <form class='form_logim'>
    <P  style="color:black; font-size: 25px;">VieWorld</P>
    <hr>
      <p>
        Sua senha foi redefinida com sucesso,  <a href="{% url 'login' %}">
          Clique aqui</a> para faze login.
      </p>
      <hr>
  </form>
</div>

</body>
</html>