{% extends 'base.html' %}

{% block main %} 

<div class='div_Mae'>

    <h2 class="sub_menu" >&nbsp; Cobrança 
        <a href="{% url 'usuarios'%}">Cancelar</a>
    </h2>

    <form id="form_up" class='formulario' method="post">
        {% csrf_token %}
<div>
    <label>iD do usuario*</label> <br>
        <input style='width:200px;' Type='text' value= "{{cobranca.usuarios.id}}"
        maxlength="30"  name='' id='usuario' placeholder="id do usuário" required/>
</div>
<div>
    <label> Valor do débito*</label> <br>
        <input style='width:200px;' disabled=" true" Type='text' value= "{{cobranca.valor}}"
        maxlength="30"  name='' id=''  />
</div>
<div>
    <label>Total de registro*</label> <br>
        <input style='width:200px;' disabled=" true" Type='text' value= "{{cobranca.registros}}"
        maxlength="30"  name='' id='' />
</div>
<div>
    <label>Link*</label><br>
        <input style='width:200px;' Type='text' name= 'link' value= "{{cobranca.link_de_cobranca}}"
         id='link' placeholder="Link de pagamento" required/>
    </div>
    <div>
     <label> Estado*</label><br>
    <select style=" width:200px;" type="text" id="estado" name="estado" required>
        <tr>
            <option value='{{cobranca.estado_do_debito}}'>{{cobranca.estado_do_debito}}</option>
            <option value="Pago">Pago </option>
            <option value="Pedente">Pedente  </option>
            <option value="Cancelado">Cancelado  </option>
            <option value="Não pago">Não pago  </option>
        </tr>
    </select>
</div>
    <hr>
    <button type="submit" > Alterar cobrança </button>
        <br>
    <br>
</form>
</div>

{% endblock %}
