
{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
<head >
    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> VieWorld  </title>

    <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Rede SociL cor">
   <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
    <meta name="author" content="cor">
</head>
<body>
    <h1 class="cabesalho">Vieworld</h1>

    <div class='div_mae'>
        <h1 class="cabesalho">Vieworld</h1>
        <form class='form_logim' method="post" action="{% url 'novo-usuario' %}">
            
            {% csrf_token %}
            <p style="color:black; font-size: 16px;">A melhor maneira de administrar o seu negocio e agilizar o atendimeto ao cliente! </p>
    
            <hr>
            {% if mensagen_de_erro_usuario %}
            <label style='color:red;'>{{mensagen_de_erro_usuario}}</label>
            {% endif %} <br>
                <input class="form_novo_usuário" Type='text' name= 'username' placeholder="Usuário*:" required/>
                <br>
            {% if mensagen_de_erro_email %}
            <br>
            <label style='color:red;'>{{mensagen_de_erro_email}}!</label>
            {% endif %} <br>
            
            <input class="form_novo_usuário" Type='password' name= 'password'id= 'password' placeholder="Senha*:" required/>
            <br>
            <br>
            <input class="form_novo_usuário"   Type='email' name= 'email' id= 'email' placeholder="E-mail*:" required/>
            <br>
            <br>
            <input class="form_novo_usuário" Type='text' name= 'cpf_cnpj' id= 'cpf_cnpj' placeholder="CNPJ ou CPF*:" required/>
            <br>
            <br>
            <input class="form_novo_usuário" Type='text' name= 'nome_fantazia' id= 'nome_fantazia' placeholder="Nome fantasia*:" required/>
            <br>
            <br>
                <hr>
                    <p style="color:black; font-size: 16px;">
                        Ao clicar em Cadastre-se, você concorda com nossos Termos, Política de Dados e Política de Cookies.
                        Você poderá receber notificações por SMS e cancelar isso quando quiser.
                    </p>
            <input id='bt_login' type="submit" value="Cadastre-se">
            <br>
            <br>
            
        </form>
    </div>

<body>
</html>

