{% extends 'base.html'%}
{% block main%}

    <div class='div_Mae'> 
        <h2 class="sub_menu" >&nbsp; FUNCIONÁRIO <a href="{% url 'novo-funcionario' %}">Cancelar</a></h2>
        <form class='formulario' method="post" >
            {% csrf_token %}
        <p> EDITAR FUNCIONÁRIO</p>
        <hr>
        <div>
            <label>Nome*</label> <br>
                <input style='width:200px;' Type='text' value= "{{usuario.first_name}}"
                    name='primeiro_nome' id='primeiro_nome' required/>
        </div>
        <div>
            <label>Segundo nome*</label> <br>
                <input style='width:200px;' Type='text' value= "{{usuario.last_name}}"
                    name= 'segundo_nome'id= 'segundo_nome' required/>
        </div>
        <div>
            <label> Estado*</label> <br>
            <select style=" width:150px;" type="text" value= "{{usuario.is_active}}"
                id="ativo" name="ativo" required>
                <tr>
                    {% if usuario.is_active %}
                    <option value='True'> Ativo</option>
                    {% else %}
                    <option value="">Inativo  </option>
                    {% endif %} 
                    <option value="True">Ativo </option>
                    <option value="False">Inativo  </option>
                </tr>
            </select>
        </div>
        <div>
            {% if mensagen_de_erro_usuario %} 
            <label style='color:red;'>{{mensagen_de_erro_usuario}}</label> <br>
            {% endif %} <br>
            <label>Usuário*</label> <br>
                <input style='width:200px; color: rgb(40, 39, 39);' Type='text' maxlength="20" minlength="5" 
                    value="{{usuario.username}}" name='username' required/>
        </div>
        <div>
            <label>Senha</label> <br>
                <input style='width:200px;' Type='password' 
                    name= 'password'id= 'password' />
        </div>
        <div>
            
            <label>Adiciona permissão</label> <br>
                <select style=" width:200px;" type="text" value= "{{permissao}}"
                id="permissao" name="permissao" >
                    <tr>
                        <option value=''> __Selecionar__</option>
                        <option value="Administrador">	Administrador </option>
                        <option value="Caixa">Caixa  </option>
                        <option value="Vendedor">Vendedor </option>
                        <option value="Gerente">Gerente </option>
                        <option value="Vendedor_Caixa">Vendedor_Caixa </option>
                    </tr>
                </select>
        </div>
        <div>
            <label>Permissões atribuidas: </label> <br>
                {% for permissao in permissoes %}
            <label style="color:blue">{{permissao}}, </label>
                {%endfor%}
        </div>
        <div>
            <label>Excluir permissão</label> <br>
                <select style=" width:200px;" type="text" id="permissao_delete" name="permissao_delete" >
                    <tr>
                        <option value=''> __Selecionar__</option>
                        {% for permissao in permissoes %}
                        <option >{{permissao}} </option>
                        {%endfor%}
                    </tr>
                </select>
        </div>
            <hr>
            <button type="submit" > Editar </button>
            <br>
        </div>

        {% endblock %}