{% extends 'base.html'%}
{% block main%}

    <div class='div_Mae'>
        <form class='formulario' method="post" >
            <br>
            {% csrf_token %}
        <h1
             style=" color:#EEE9E9;"> Funcionário</label>
        </h1>
            <label>Nome*:</label>
                <input style='width:200px;' Type='text' value= "{{usuario.first_name}}"
                    name='primeiro_nome' id='primeiro_nome' required/>
                <br>
            <label>Segundo nome*:</label>
                <input style='width:200px;' Type='text' value= "{{usuario.last_name}}"
                    name= 'segundo_nome'id= 'segundo_nome' required/>
                <br>
             <label> Estado*:</label>
            <select style=" width:150px;" type="text" value= "{{usuario.is_active}}"
                id="ativo" name="ativo" required>
                <tr>
                    {% if usuario.is_active %}
                    <option value='True'> Ativo</option>
                    {% else %}
                    <option value="">Inativo  </option>
                    {% endif %} <br>
                    <option value="True">Ativo </option>
                    <option value="False">Inativo  </option>
                </tr>
            </select>
            {% if mensagen_de_erro_usuario %}
            <label style='color:red;'>{{mensagen_de_erro_usuario}}</label>
            {% endif %} <br>
            <label>Usuário*:</label>
                <input style='width:200px; color: rgb(40, 39, 39);' Type='text' maxlength="20" minlength="5" disabled="true"
                    value="{{usuario.username}}" name='username' id= 'username' required/>
                    <br>
            <label>Senha:</label>
                <input style='width:200px;' Type='password' 
                    name= 'password'id= 'password' />
                
            {% if mensagen_de_erro_email %}
            <br>
            <label style='color:red;'>{{mensagen_de_erro_email}}</label>
            {% endif %} <br>
            
            <label>Adiciona permissão:</label>
                <select style=" width:200px;" type="text" value= "{{permissao}}"
                id="permissao" name="permissao" >
                    <tr>
                        <option value=''> __Selecionar__</option>
                        <option value="Administrador">	Administrador </option>
                        <option value="Caixa">Caixa  </option>
                        <option value="Vendedor">Vendedor </option>
                        <option value="Gerente">Gerente </option>
                        <option value="Vendedor_Caixa">Vendedor_Caixa </option>
                    </tr>
                </select>
                <br>
            <label>Permissões atribuidas: </label>
                {% for permissao in permissoes %}
            <label style="color:blue">{{permissao}}, </label>
                {%endfor%}
             <br>

            <label>Excluir permissão:</label>
                <select style=" width:200px;" type="text" id="permissao_delete" name="permissao_delete" >
                    <tr>
                        <option value=''> __Selecionar__</option>
                        {% for permissao in permissoes %}
                        <option >{{permissao}} </option>
                        {%endfor%}
                    </tr>
                </select>
              <br>
              <br>
            <button type="submit" > Editar </button>
            <br>
        </div>

        {% endblock %}