{% extends 'base.html' %}
{% block main %}
<div class='div_Mae'>
    <h2 class="sub_menu" >&nbsp; USUÁRIOS  </h2>

    <form class='campo_de_busca' method="GET" action="{% url 'usuarios' %}" >
        {% csrf_token %}
        <select style=" width:100px;" type="text" id="estado" name="estado" >
            <tr>
                <option value=''> __Estado__</option>
                <option value="Pago">Pago </option>
                <option value="Pedente">Pedente  </option>
                <option value="Cancelado">Cancelado  </option>
                <option value="Não pago">Não pago  </option>
                <option value="sem_cobranca">sem cobrança  </option>
                <option value="Ativos">Ativos </option>
            </tr>
        </select>
        
        <input style=" width:105px; font-size:10px" type="month"  name="data_de_vencimento" id="data_de_vencimento" >
          
          <button  type="submit">Filtrar</button>
       </form >
        
               <hr>
            <button  type="submit"> Atualizar</button>

            <table class="table">
                <thead>
                   <tr>
                       <th >Id / usuário</th>
                       <th >Cpf/Cnpj</th>
                       <th > E-mail</th>
                       <th > Telefone </th>
                       <th > Registros</th>
                       <th > Valor </th>
                       <th > Estado </th>
                       <th>Ação</th>
                   </tr>
               </thead>
                {% if cobranca %}
                   <tbody>
                       {%for cobranca in cobranca%}
                           <tr>
                            <td> {{cobranca.usuarios.id}} {{cobranca.usuarios.nome_fantazia}}</td>
                            <td> {{cobranca.usuarios.cpf_cnpj}} </td>
                            <td> {{cobranca.usuarios.email}} </td>
                            <td> {{cobranca.usuarios.Telefone}} </td>
                            <td> {{cobranca.registros}} </td>
                            <td> {{cobranca.valor}} </td>
                            <td> {{cobranca.estado_do_debito}} </td>
                            <td> <a href="{% url 'cobranca' cobranca.usuarios.id %}"> Visualizar </a></td>
                           </tr>
                       {%endfor%}
                   </tbody>
                {% else %}
                   <tbody>
                    {%for usuario in usuario%}
                        <tr>
                         <td> {{usuario.id}} {{usuario.usuarios.nome_fantazia}}</td>
                         <td> {{usuario.cpf_cnpj}} </td>
                         <td> {{usuario.email}} </td>
                         <td> {{usuario.Telefone}} </td>
                         <td> {{cobranca.registros}} </td>
                         <td> {{cobranca.valor}} </td>
                         <td> {{cobranca.estado_do_debito}} </td>
                         <td> <a href="{% url 'cobranca' usuario.id %}"> Visualizar fatura </a></td>
                        </tr>
                    {%endfor%}
                </tbody>
            {% endif%}
               </table>   
</div>
{% endblock %}