{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
<head >
    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> VieWorld  </title>

    <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Rede SociL cor">
   <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
    <meta name="author" content="cor">
</head>
<body>
    <h1 class="cabesalho">Vieworld</h1>

    <div class='div_mae'>
        
        
        <form class='form_logim' method="post" action="{% url 'login' %}">
        
            {% csrf_token %}

            {% if form.errors %}
            <p style='color:red;'>Usuário ou senha inválido!</p>
            {% endif %}

            {% if next %}

            {% if user.is_authenticated %}
                <p style='color: red;' > Você está sem permissão de acesso, por favor,
                entre com um usuário autorizado ou  consulte o seu administrador!</p>
            {% else %}

                <p style='color: red;'>É necessário fazer login para acessar essa página!</p>
            {% endif %}
            {% endif %}
            <p style="color:black; font-size: 16px;">A melhor maneira de administrar o seu negocio e agilizar o atendimeto ao cliente! </p>
                <hr>
            <label id="username">Usuário:</label> <br>
                <td>{{ form.username }}</td>
                <br>
              <br>
            <label id="password">Senha:</label> <br>
                <td>{{ form.password }}</td>
              <br>
              <br>
            <input id='bt_login' type="submit" value="Entrar">
            <input type="hidden" name="next" value="{{ next }}">

             {# Assumes you setup the password_reset view in your URLconf #}
             <br>
            
            <label id="recuperar_senha"><a href="{% url 'password_reset' %}">Esqueceu a semha?</a></label>
                
            <br>
                    <hr>
            <button id="bt_cadastrar"><a href="{% url 'novo-usuario' %}">Cadastre-se!</a></button>
            <br>
            <br>
            
        </form>
    </div>

<body>
</html>

