{% load static%}
   <meta charcet="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title> VieWorld  </title>

   <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

   <meta charcet="UTF-8">
   <meta name="cor" content="width=device-width,initial=scale=1">
   <meta name="description" content="Rede SociL cor">
  <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
   <meta name="author" content="cor">
</head>
<body>
   <h1 class="cabesalho">Vieworld</h1>

   <div class='div_mae'>
       
       
       <form class='form_logim' method="post" action="{% url 'login' %}">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p>    Te enviamos um email com as instrucoes de reset da sua senha if uma conta com este email existir no nosso
            banco de dados
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
        <p>
            Se voce nao tiver recebido um email por favor cetifique-se de que voce entrou com um email correto
        </p>
    </form>
</div>

<body>
</html>