{% load static%}  
   <meta charcet="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
   <title> VieWorld  </title>

   <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

   <meta charcet="UTF-8">
   <meta name="cor" content="width=device-width,initial=scale=1">
   <meta name="description" content="Rede SociL cor">
  <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
   <meta name="author" content="cor">
</head>
<body>
   <h1 class="cabesalho">Vieworld</h1>

   <div class='div_mae'>
       
       
                {% if validlink %}
                    
                    <form class='form_logim' method="post">
                        <P  style="color:black; font-size: 25px;">VieWorld</P>
                        <hr>
                            {% csrf_token %}
                            {{ form.as_p }}
                        <hr>
                        <button id="bt_login" type="submit">Recuperar senha</button>
                    </form>
                {% else %}
                <form class='form_logim' method="post">
                    <P  style="color:black; font-size: 25px;">VieWorld</P>
                        <hr>
                            <p style="color:black;"> 
                                Link inválido, possivelmente porque já foi utilizado.<br>
                                 Por favor, solicite uma <a href="{% url 'login' %}">
                                    redefinição </a> de senha novamente.
                            </p>
                        <hr>
                    </form>
                {% endif %}

</div>

<body>
</html>