{% load static%}  
   <meta charcet="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title> VieWorld  </title>

   <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

   <meta charcet="UTF-8">
   <meta name="cor" content="width=device-width,initial=scale=1">
   <meta name="description" content="Fluxao de caixa">
   <meta name="author" content="cor">
</head>
<body>
    <form class='form_logim' method="post">
        <P  style="color:black; font-size: 25px;">VieWorld</P>
        <hr>

            {% csrf_token %%}
            {{ form }}
        <hr>
        <button id="bt_login" type="submit">Alterar senha</button>
</form>

</div>

<body>
</html>