{% load static%}  
   <meta charcet="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title> VieWorld  </title>

   <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

   <meta charcet="UTF-8">
   <meta name="cor" content="width=device-width,initial=scale=1">
   <meta name="description" content="Rede SociL cor">
   <meta name="author" content="cor">
</head>
<body>
    <form class='form_logim' method="post">
        <P  style="color:black; font-size: 25px;">VieWorld</P>
        <hr>
            <p style="color:black; font-size: 18px;"> 
                Senha alterada com sucesso! <a href="{% url 'usuario' %}">
                    Voltar </a> 
            </p>
        <hr>
</form>

</div>

<body>
</html>