{% load static%}
   <meta charcet="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
   <title> VieWorld  </title>

   <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

   <meta charcet="UTF-8">
   <meta name="cor" content="width=device-width,initial=scale=1">
   <meta name="description" content="Rede SociL cor">
  <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
   <meta name="author" content="cor">
</head>
<body>
   <h1 class="cabesalho">Vieworld</h1>

   <div class='div_mae'>
       
       
       <form class='form_logim' method="post" action="{% url 'login' %}">
        <P  style="color:black; font-size: 25px;">VieWorld</P>
        <hr>
        <p style="font-size: 18;">
            Enviaremos por e-mail, instruções para redefinir sua senha,
            você deve recebê-lo em breve.
     
        <p style="font-size: 18;">
            Se você não receber um e-mail, certifique-se de ter inserido o endereço corretamente
            e verifique sua pasta de spam.
        </p>
        <hr>
        <p style="font-size: 18;" >Voltar para a tela de
            <a href="{% url 'login' %}"> login</a> </p>
    </form>
</div>

<body>
</html>