@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');



#div_caixa div{
    margin-left:185px;
    width:950px;
}
#div_caixa div div{
    display:inline-block;
    margin-left:10px;
    width:400px;
}
#divPainel {
    height: 130px;
    width: 100%;
}
#divPainel label{
    font-size: 25px;
    color:white;
    margin: 2px;
    width: 100%;
    border: 1px solid #303131;
    border-radius: 2px;
    display: inline-block;
    
}
#div_painel_tabela{
    width: 400px;
}
.caixa{
    background-color: #F0F8FF;
    width: 100%;
    font-size: 16;
    height: 86px;

}

.caixa ul{
    padding: 10px;
    width: 450px;
}

.caixaVenda ul{
    display: none;
    padding: 10px;
    width: 450px;
}

.caixa input{
    width: 80px;
    border: 1px solid #303131;
    border-radius: 2px;
    width: 75%;
    margin: 5px;
    font-size: 18px;
}

.caixa select{
    width: 80px;
    border: 1px solid #303131;
    border-radius: 2px;
    width: 75%;
    margin: 5px;
    font-size: 18px;
}

  .caixa label{
    font-size: 20px;
    margin: 5px;
  }

  .caixa h2{
    background-color: #4F4F4F;
    font-size: 30px;
    width: 100%;

  }

 .caixa button{
    position:absolute;
    margin-right: -30px;
    margin-top:0px;
    border: 1px solid #303131;
    border-radius: 2px;
    color:white;
    width: 180px;
    background-color: #4F4F4F;
  }
#bt_novo_pedido{
   margin-top:-134px;
   margin-left:308px;
   border: 1px solid #303131;
   border-radius: 5px;
   color:black;
   background-color: #c7cdd8;
   position:absolute;
   padding-block: 5px;
   width: 90px;

 }

 .bt_deletar{
   margin-left:220px;
   border: 1px solid #303131;
   border-radius: 10px;
   color:white;
   width: 420px;
   margin-top:-20px;
   background-color: red;
   margin-bottom: 30px;
  }
