@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

@media (max-width: 768px) {

#div_caixa{
    display: block;
    width: 98%;
}
#div_painel_tabela{
    width: 100%;
    margin-left: -10px;
    padding: 0px;
}
#div_caixa div{
    margin-left: 0px;
}
.caixa{
    width: 100%;
}
#divPainel{
    margin-top: -30px;
    margin-left: 0px;
    width: 100%;
    padding:0px;
}
#divPainel label{
    font-size:18px;
    
}

.caixa input{
    margin:2px;
    font-size:15px;
}

.caixa select{
    margin:2px;
    font-size:15px;
}

.caixa label{
    margin:2px;
    font-size:18px;
}

#bt_vendas1{
    width:90px;
}
#bt_vendas2{
    width: 142px;
    position:absolute;
    right:15px;
}
}
