@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

.campo_de_busca{
    background-color: #F0F8FF;
    margin-left:185px;
    width: 100%;
    font-size:15px;
    
}

.campo_de_busca form div{
  background-color:blue;
  width: 25%;
  padding: 0px;
  display: inline-block;
}

@media (max-width: 768px) {
.campo_de_busca{
    margin-left: 0px;

}

.campo_de_busca a{
    right:5px;

}
}
.campo_de_busca button{
    border: 1px solid #303131;
    border-radius: 2px;
    color:white;
    width: 70px;
    background-color: #4F4F4F;
    margin-left: -7px;
    margin:3px;
    padding: 5px
 }

.campo_de_busca input{
  border: 1px solid #303131;
  border-radius: 5px;
  margin-left:0px;
  padding: 5px;
  margin-left: 5px;
  font-size: 15px;
  margin:3px;
}

.campo_de_busca a{
    text-decoration: none;
  }
.campo_de_busca label{
    font-size: 18px;
    padding: 0px;
    margin-right: 2px;
    margin:3px;
    margin-left:5px;
 }
 .campo_de_busca select{
  border: 1px solid #303131;
  border-radius: 5px;
  margin-left:5px;
  font-size: 15px;
  padding: 5px;
  
}
#dia{
  padding: 4px;
}
#dia2{
  padding: 4px;
}
.input_data{
  padding: 4px;
}

.campo_de_busca div{
  width: 300px;
  padding: 0px;
  display: inline-block;
 
}

