@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

.campo_de_busca{
  background-color: #F0F8FF;
  font-size:15px;
  margin-left:195px;
 

}

.campo_de_busca form div{
  width: 25%;
  padding: 0px;
  display: inline-block;
}

.campo_de_busca div{
  width: 320px;
  padding: 0px;
  display: inline-block;

}
#div_busca_filtro{
  width: 45%;
  padding: 0px;
  display: inline-block;
}
.campo_de_busca button{
  border: 1px solid #303131;
  border-radius: 2px;
  color:white;
  width: 70px;
  background-color: #4F4F4F;
  margin-left: -7px;
  margin:3px;
  padding: 5px
}

.campo_de_busca input{
border: 1px solid #303131;
border-radius: 5px;
margin-left:0px;
padding: 5px;
margin-left: 5px;
font-size: 15px;
margin:3px;
}

.campo_de_busca a{
  text-decoration: none;
}
.campo_de_busca label{
  font-size: 18px;
  padding: 0px;
  margin-right: 2px;
  margin:3px;
  margin-left:5px;
}
.campo_de_busca select{
border: 1px solid #303131;
border-radius: 5px;
margin-left:5px;
font-size: 15px;
padding: 4px;

}

.input_data{
padding: 4px;
}

@media (max-width: 768px) {
.campo_de_busca{
    margin-left: 0px;

}

.campo_de_busca a{
    right:5px;

}
#div_busca_filtro{
  width: 100%;
  padding: 0px;

}
}

