@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.cupom_fiscal{
    position:absolute;
    margin-top:-350px;
    margin-left: 445px;
    width: 350px;
    display:none;

}
#div_cupomFiscal{
    display:none;
}
.cupom_fiscal form{
    background-color: #FFF8DC;
    margin-left:212px;
    width: 350px;
    padding: 10px;
    border: 1px solid #303131;
    border-radius: 2px;

}
.cupom_fiscal labem{
    font-size: 18px;
    padding: 0px;
    margin-right: 10px;

}

.cupom_fiscal button{
    background-color:  red;
    border-radius: 2px;
    color:white;
    margin-left:560px;
    margin-top:00px;
}
#bt_visualizar_cupom{
    position: relative;
    margin-top:520px;
    border: 1px solid #303131;
    border-radius: 2px;
    color:white;
    background-color: #4F4F4F;
    margin-left:-250px;
    width: 150px;
}

.cupom_fiscal table{
    font-size: 12px;
}

.cupom_fiscal th {
    margin-left: -30px;
    text-align: center;
    width:35%;
}

.cupom_fiscal tr {
    margin-left: -30px;
    text-align: center;
    width:35%;
}

@media (max-width: 768px) {
#bt_visualizar_cupom{
    margin-top: 0px;
   margin-left: 0px;
}
.cupom_fiscal{
    position:absolute;
    margin-top:-500px;
    margin-left:-200px;
    width: 350px;
    display:none;

}
}

@media (max-width: 500px) {
.cupom_fiscal{
    position:absolute;
    margin-top:-500px;
    margin-left:-205px;
    width: 350px;
    display:none;

}
.cupom_fiscal button{
    background-color:  red;
    border-radius: 10px;
    color:white;
    margin-left:530px;
    margin-top:0px;
}
}

