@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2? família=David+Libre&família=Montaga&família=Poppins:wght@300&família=Fonte+Sans+Pro&display=swap');

.cabesalho{
    background-color:#000000;
    color:white;
    text-align: center;
    position: fixed;
    width:100%;
    margin-top: -77px;
    margin-left: -8px;
}

.div_mae{
    margin-top:75px;
}
.form_icone{
    
    width: 50%;
    margin-top: -170px;
    margin-left: 50%;
}

.icone{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin-top: 0px;
}

.linck_contato{
    
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-top: -40px;

}

@media (max-width: 768px) {
    .form_icone{
        margin-top: -70px;
        font-size: 12px;
    }

    .icone{
        width: 100px;
    }
    .icone_linck_wpp{
        font-size: 12px;

    }
}

.div_cabesalho2{
    color:white;
    position: fixed;
    width:100%;
    margin-top: -30px;
    margin-left: -8px;
    background-color: rgb(146, 142, 142);
    font-size: 20px;
    padding: 5px;
    
}

.div_cabesalho2 a{
    text-decoration: none;
    color:rgb(2, 2, 2);
    font-size: 18px;
}
#login{
    position: absolute;
    right: 15px;
    background-color:#780808;
    color:black;
    border: 1px solid #0e0e0d;
    border-radius: 7px;
    padding: 8px;
    
}

#link_cadastrar{
    position: absolute;
    right: 80px;
    background-color:#d2dde6;
    border: 1px solid #0e0e0d;
    border-radius: 7px;
    padding: 8px;
    
}
#usuario{
    margin-left: 10px;
    color: black;

}
.form_tela_inicial{
    width:98%;
    background-color:#e1e7eb;
    color: rgb(6, 5, 5);
    border: 1px solid #0e0e0d;
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    
    
}
.p_sub_titilo{
    color: black;
    font-size: 18px;
     text-align: center;
}

@media (max-width: 768px) {
    .form_tela_inicial{
        font-size: 14px;
        width:94%;
    }
    .p_sub_titilo{
        color: black;
        font-size: 14px;
         text-align: center;
    }
}
.errorlist{
    color: red;
}
#roda_pe{
    margin-top: 30px;
}
.form_logim{
    width:450px;
    background-color:#60778a;
    color: white;
    border: 1px solid #f5f5f0;
    border-radius: 7px;
    margin:0% 25% 25% 25% ;
    padding: 8px;
    
}
#id_new_password1{
    margin-top: 5px;
    font-size: 18px;
    padding-right: 240px;
    text-align: center;
}
#id_old_password{
    font-size: 18px;
    padding-right: 240px;
    text-align: center;
}
#id_new_password2{
    font-size: 18px;
    padding-right: 240px;
}

#termo_e_condicao_de_uso{
    display: none;
    position:absolute;
    background-color:whitesmoke;
    color: black;
    margin:-70% 25% 25% 21% ;
    width: 550px;
    padding: 10px;
    border: 1px solid #303131;
    border-radius: 2px
}
#termo_buttao{
    font-size: 20px;
    color:rgb(235, 10, 13);
    
}
#img{
    width:50%;
    text-align: center;
    
}
@media (max-width: 768px) {
    .form_logim{
    width:100%;
    margin-left:-10px;

}
#id_new_password1{
    padding-right: 100px;
}
#id_old_password{
    padding-right: 100px;
}
#id_new_password2{
    padding-right: 100px;
}
}
#sub_titulo{
    background-color:#000000;
    width:96%;
    text-align: center;
    padding:3px;
    margin:5px;

    font-size: 18px;
}

#bt_login{
    text-align: center;
    width:92%;
    background-color:#363636;
    color:white;
    border: 1px solid #a9aeae;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    font-size: 18px;
}

#username{
    margin-left: 3px;
    color:white;
    font-size: 18px;
    
}
#id_password{
    width: 91%;
    font-size: 18px;
    border: 1px solid #f5f5f0;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
#id_username{
    width: 91%;
    font-size: 18px;
    border: 1px solid #f5f5f0;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.form_novo_usuário{
    width: 91%;
    font-size: 16px;
    border: 1px solid #f5f5f0;
    border-radius: 5px;
    padding: 5px;

}

.form_logim a{
    text-decoration: none;
    color:blue;
}

#bt_cadastrar{
    text-align: center;
    width:70%;
    background-color:#ffffff;
    color:white;
    margin:5px;
    font-size: 16px;
    border: 1px solid #a9aeae;
    border-radius: 5px;
}

#recuperar_senha a{
    margin-left: 10px;
    font-size: 16px;
    color: rgba(240, 13, 81, 0.989);
}





