@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2? família=David+Libre&família=Montaga&família=Poppins:wght@300&família=Fonte+Sans+Pro&display=swap');

#container div{
    padding:2px;
    margin-top: 50px;
    width: 190px;
    height: 150px;
    display: inline-block;
    border: 1px solid #0e0e0d;
    color: #FFF;
    border-radius: 7px;
    text-align: center;
    background-color: #c5bb5b;
}
@media (max-width: 500px) {
    #container div{
        width: 45%;
        padding-left:5px;
        padding-right: 5px;
    }
}
@media (max-width: 310px) {
    #container div{
        width: 94%;
        padding-left:5px;
        padding-right: 5px;
    }
}
#container {
    overflow-y:auto;
    overflow-x:auto;
}

#container label{
    font-size: 12px;
    padding: 0px;
}
#container a{
    text-decoration: none;
}
#container li{
    font-size: 12px;
    text-align: left;
    padding: 2px;

}

#container img{
    width:30px;
}
