@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2? família=David+Libre&família=Montaga&família=Poppins:wght@300&família=Fonte+Sans+Pro&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.container a{
    text-decoration: none;
    }
.login{
    border: 1px solid #0e0e0d;
    border-radius: 7px;
    width: 300px;
    background: #c5bb5b; 
    padding:10px;
}
.cadastro{
    border: 1px solid #0e0e0d;
    border-radius: 7px;
    width: 380px;
    height: 380px;
    background: #c5bb5b; 
    padding:10px;
}
#id_username{
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}
#id_password{
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}
#email{
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}
#cpf_cnpj{
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}
#nome_fantazia{
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}
@media (max-width: 500px) {
   .container form{
    text-align: center;
    width: 98%;
   }
   .container input{
 
    width: 98%;
   }
}
body {
    margin: 0px;
}

#bt_cadastrar{
    background-color: rgb(43, 37, 25);
    color: white;
    width: 200px;
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}
#bt_login{
    background-color: rgb(43, 37, 25);
    color: white;
    width: 150px;
    border: 1px solid #0e0e0d;
    border-radius: 4px;border: 1px solid #0e0e0d;
    border-radius: 4px;
}

.errorlist{
    color: red;
}
#roda_pe{
    margin-top: 30px;
}

#img{
    width:100px;
    text-align: center;

}

