@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');

.divCabesalho{
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    background-color:#000000;
    color:white;
    text-align: center;
    position: fixed;
    width:100%;
    margin-top: -77px;
    margin-left: -8px;
}

.div_menu{
     width: 100%;

}
 .menu {
    width:195px;
    left: 0px;
    height:100%;
    transition:all .5s;
    position: fixed;
    top: 48px;
    background-color: #B0C4DE;
    overflow-y:auto;
    overflow-x:auto;
}
.menu ul{
    width:120%;
    list-style: none;
    margin-left: -15%;

}

 .menu li{
    padding: 1px;
    font-size: 22px;
}

 .menu label{
    padding: 3px;
    color:black;
    font-size: 22px;

}

.menu li:hover{
    background-color: #1E90FF;
    color: #b62929;
    border: 1px solid #989999;
    border-radius: 5px;
    width:180px;
}

.menu_label:hover{

   color: #b62929;
}

 .menu a{
    padding: 0px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
 .menu_label{
    background-color: white;
    left:208px;
    top: 10px;
    position: fixed;
    display: none;
    margin:0px -200px;

 }


 .menu_label img{
    border-radius: 5px;
 }


 .menu_input{
    display: none
 }


 @media (max-width: 768px) {
    .menu_label{
        display: block;
    }
 }

 @media (max-width: 768px) {
    .menu_input[type="checkbox"]
    {
      display: none
   }
  .menu_input[type ="checkbox"]:checked ~ nav
      {
      transform: translateX(200px);
      }
 }
 @media (max-width: 768px) {
   .menu {
    width:200px;
    left:-200px;
   }
}

.caicha_texto4{
  font-size: 16px;
  border: 1px solid #adafaf;
  border-radius: 5px;
  resize: none;
}