@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css2? família=David+Libre&família=Montaga&família=Poppins:wght@300&família=Fonte+Sans+Pro&display=swap');

.div_menu{
   width: 100%;
   font-family: 'Source Sans Pro', sans-serif;
}
.menu {
   width:200px;
   left:-200px;
   height:100%;
   transition:all .5s;
   position: fixed;
   top: 43px;
   background-color: #b0aa70;
   overflow-y:auto;
   overflow-x:auto; 
}

.menu img{
   width: 20px;
}
.menu ul{
   width:120%;
   list-style: none;
   margin-left: -15%;

}

 .menu li{
    padding: 1px;
    font-size: 12px;
}

 .menu label{
   padding: 3px;
   color:black;
   font-size: 22px;

}

.menu li:hover{
   background-color: #1E90FF;
   color: #b62929;
   border: 1px solid #989999;
   border-radius: 5px;
   width:180px;
}

.menu_label:hover{

   color: #b62929;
}

 .menu a{
   padding: 0px;
   color: black;
   text-decoration: none;
   font-size: 14px;
}
 .menu_label{
   background-color: white;
   left:208px;
   top: -1px;
   position: fixed;
   display: block;
   margin:0px -200px;

 }


 .menu_label img{
   margin-left: -11px;
   border: 5px solid #000000;
   border-radius: 2px;
   width: 34px;
 }


.menu_input[type="checkbox"]{
   display: none
}
.menu_input[type ="checkbox"]:checked ~ nav{
   transform: translateX(200px);
}

@media (max-width: 768px) {
   .menu {
      width:200px;
      left:-200px;
   }
}

.caicha_texto4{
  font-size: 16px;
  border: 1px solid #adafaf;
  border-radius: 5px;
  resize: none;
}