@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');


.relatorio{
    background-color: #c7bd76;
    width: 98%;
    font-size:15px;
}
.sub_menu_relat{
  background-color: #969165;
  width: 98%;
  font-size:18px;
  color: rgb(245, 241, 241);
  padding-block: 7px;
}
.relatorio h2{
    background-color: #9f985c;
    margin-left:5px;
    width: 95%;
    font-size:18px;
    color: rgb(245, 241, 241);
    padding-block: 7px;
}
.relatorio label{
    border: 1px solid #303131;
    border-radius: 5px;
    font-size:18px;
    padding: 5px;
    width: 94%;
    margin:5px;
    display: inline-block;

}

.campo_de_busca_relat {
    background-color: #c7bd76;
    font-size:18px;
    width: 98%;
}
.campo_de_busca_relat form div{
  background-color:#c7bd76;
  width: 98%;
  padding: 0px;
  display: inline-block;
}

.campo_de_busca_relat select{
    border: 1px solid #303131;
    border-radius: 5px;
    margin-left:5px;
    font-size: 15px;
    padding: 5px;
}

.campo_de_busca_relat input{
    border: 1px solid #303131;
    border-radius: 5px;
    margin-left:0px;
    padding: 5px;
    margin-left: 5px;
    font-size: 15px;
    margin:3px;
}

.campo_de_busca_relat label{
    font-size: 18px;
    padding: 0px;
    margin-right: 2px;
    margin:3px;
    margin-left:5px;
 }

.campo_de_busca_relat button{
    border: 1px solid #303131;
    border-radius: 2px;
    color:white;
    width: 70px;
    background-color: #4F4F4F;
    margin-left: -7px;
    margin:3px;
    padding: 6px
}

@media (max-width: 768px) {
.relatorio{
    margin-left:0px;
    width: 98%;
    padding:5px;
}

.relatorio label{
    font-size:18px;
}

.campo_de_busca_relat {
    margin-left:0px;
    padding: 5px;
    width: 98%;

}
.sub_menu_relat{
    margin-left:0px;
    width:100%;
}

}







