@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');


.relatorio{
    background-color: #F0F8FF;
    margin-left:185px;
    width: 600px;
    font-size:15px;
}
.relatorio h4{
    background-color: #4F4F4F;
    color:white;
    text-align: center;
    padding:5px;
    margin-left: 10px;
    width: 94%;
    font-size: 25px;

}
.relatorio label{
    border: 1px solid #303131;
    border-radius: 5px;
    font-size:18px;
    padding: 5px;
    width: 94%;
    margin:5px;
    display: inline-block;

}

.titulo_relatorio{
    background-color: #4F4F4F;
    color:white;
    margin-left:185px;
    border: 1px solid #303131;
    border-radius: 5px;
    font-size:30px;
    width: 600px;
    text-align: center;
}
.campo_de_filtro {
    background-color: #F0F8FF;
    margin-left:185px;
    font-size:18px;
    width: 580px;
    padding:10px;

}

.campo_de_filtro select{
    font-size:15px;
    border: 1px solid #303131;
    border-radius: 2px;
    padding:3px;

}

.campo_de_filtro input{
    font-size:16px;
    border: 1px solid #303131;
    border-radius: 2px;
    padding:1px;


}

.campo_de_filtro button{
    background-color: #4F4F4F;
    border: 1px solid #303131;
    color: white;
    border-radius: 2px;
    font-size:16px;
    width: 80px;
    margin-left: -7px;
    padding:3px;
}

@media (max-width: 768px) {
.relatorio{
    margin-left:0px;
    width: 100%;
    padding:10px;
}

.relatorio label{
    font-size:18px;
}
.titulo_relatorio{
    margin-left:0px;
    padding: 10px;
    width: 100%;
}
.campo_de_filtro {
    margin-left:0px;
    padding: 10px;
    width: 100%;

}
}