@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2? família=David+Libre&família=Montaga&família=Poppins:wght@300&família=Fonte+Sans+Pro&display=swap');

.cabesalho_tabela{
    background-color: #DCDCDC;
    margin-left:185px;
    margin-right:10px;
    width: 100%;
    font-size:18px;

}
.cabesalho_tabela h1{
    background-color: #4F4F4F;
    color:white;
    font-size: 30px;
    width: 100%;
    border: 1px solid #303131;
    border-radius: 5px;
  }
.cabesalho_tabela label{
    font-size: 18px;
}
.cabesalho_tabela input{
    font-size: 18px;
    border: 1px solid #303131;
    border-radius: 5px;
    width: 200px
}
.cabesalho_tabela button{
    background-color: #4F4F4F;
    color:white;
    font-size: 18px;
    border: 1px solid #303131;
    border-radius: 5px;
}
.cabesalho_tabela select{
    font-size: 18px;
    border: 1px solid #303131;
    border-radius: 5px;
}

.table{
    background-color: #F0F8FF;
    font-size:15px;
    margin-left:185px;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.table thead{
   background-color: #B0C4DE;

    padding:-0px;

}
.table a{
    text-decoration: none;
}
.table td{
    text-align: center;

}
.table th{

}
@media (max-width: 768px) {
 .table{
    margin-left:0px;
    width:100%;
    font-size:10px;
}
.cabesalho_tabela input{
    font-size: 18px;
    border: 1px solid #303131;
    border-radius: 5px;
    width: 40%

}
.cabesalho_tabela{
    background-color: #DCDCDC;
    margin-left:0px;
    width: 100%;
}
}








