@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Philosopher:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');


#clorir{
    background-color: #ADD8E6!important;
}



.titulo{
    text-align: center;
    background-color: #BEBEBE;
    color:black;
    font-family: 'Philosopher',  sans-serif;
    font-size: 40px;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    margin-top:-10px;
    position: fixed;
    width: 100%

}

.titulo2{
    text-align: center;

    color:black;
    font-family: 'Philosopher',  sans-serif;
    font-size: 25px;
    margin-top:-10px;
    width: 100%

}

.contatos {
    font-family: 'Philosopher',  sans-serif;
    text-align: center;
    background-color: #BEBEBE;
    color:white;
    position: fixed;
    font-size: 18px;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    width: 100%
}

.contatos label{
    padding: 20px;


}


.div_principal{
    padding-top: 37px;

}

.divFotos{

    background-color:#FFFAFA;
    height: auto;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    padding: 10px;
}

.divFotos img{
    width: 100%;
    height: 400px;

    position:center;
}
.divFotos li{
    padding: 20px;
    text-align: center;
    list-style:none;
    font-family: 'Philosopher',  sans-serif;
    font-size: 18px;
}

.rodape{

    background-color: #BEBEBE;
    color:black;
    font-family: 'Philosopher',  sans-serif;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.rodape label{
    font-size: 18px;
    margin: 10px;

}


.rodape li{
    font-size: 14px;

}