{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >

<head>
    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>  VieWorld  </title>
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
    <script type="module" src="{% static 'js/mascaras.js' %}"></script>
    <link rel="stylesheet" href= "{% static 'style/caixa.css'%}">
    <link rel="stylesheet" href= "{% static 'style/formulario.css'%}">
    <link rel="stylesheet" href= "{% static 'style/meunuResponsivo.css'%}">
    <link rel="stylesheet" href= "{% static 'style/tabela.css'%}">
    <link rel="stylesheet" href= "{% static 'style/formAlerta.css'%}">
    <link rel="stylesheet" href= "{% static 'style/tabela_caixa.css'%}">
    <link rel="stylesheet" href= "{% static 'style/cupom_fiscal.css'%}">
    <link rel="stylesheet" href= "{% static 'style/caixa_movel.css'%}">
    <link rel="stylesheet" href= "{% static 'style/alerta_delete.css'%}">
    <link rel="stylesheet" href= "{% static 'style/campo_busca.css'%}">
    <link rel="stylesheet" href= "{% static 'style/relatorio.css'%}">
    <link rel="stylesheet" href= "{% static 'style/home.css'%}">
    <link rel="stylesheet" href= "{% static 'style/base.css'%}">
    <link rel="stylesheet" href= "{% static 'style/perfilUsuario.css'%}">

    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Rede SociL cor">
    <meta name="keyWords" content="controle de estoque, vieworld, Gastos, Gastos extras,controle de gastos, contas a pagar, contas, fluxo de caixa, contas a receber, frente de caixa, controle de estoque, caixa, jestão, varejo, sistema para comércio varejista">
    <meta name="author" content="cor">

</head>

<body>
<div> 
    
    <div class="div_cabesalho2">
        {% block cabesalho%}
        <a href="{% url 'inicio' %}">
            <img id="img" src="{% static 'img/logo_marca.png' %}" width="500px" all=" "> 
        </a>
                {%if user.is_authenticated%}
                    <label id='login_logout'> <a href="{% url 'logout' %}"> Sair </a> </label>
                    <label> <a id='usuario' href="{% url 'usuario' %}"> Olá
                        {%if user.first_name %} {{user.first_name}}  {%else %} {{user}} {%endif%}</a> </label>
                        
                {%else%}
                    <label id='login_logout'> <a href="{% url 'login' %}">Entra</a> </label>

                    <label id="link_cadastrar"><a href="{% url 'novo-usuario' %}">Cadastrar-se</a></label>
                    <label id='usuario'> </label>
                
                {%endif%}
        {% endblock%}
    </div>
        
    <div id="div_main">
        {% block main%}
            deu certo
        {% endblock main %}
    </div>
    <br>
    <br>
    <footer>    
        {% block footer %}
        <a href="https://www.instagram.com/vieworld.com.br/?next=%2F"> <img id="im" src="{% static 'img/insta1.png' %}"width="140px"></a>
            
             <a href="https://www.facebook.com/vieworld.com.br/"> <img src="{% static 'img/face1.png' %}" width="140"> </a>
        {% endblock footer%}
    </footer>
</div>
</body>
</html>