{% extends 'base.html' %}

{% block main %} 

<br>

    <h2 class="sub_tito" >&nbsp; CATEGORIA DE GASTOS
        <a href="{% url 'categoria_de_gastos'%}"> Adicionar </a>
    </h2>

    <form class='formulario'   method="POST" >
         {% csrf_token %}
        
         <p> EDITAR CATEGORIA</p>
        <hr> 
        <div>
            <label>Nome da categoria</label>
            <input placeholder=" Nome..." type="text" id="nome" name="nome" value="{{categoria.nome}}" required/>
        </div>
             <hr>
            <button type="submit"> Salvar</button>
        
    </form>
     <br>
{% endblock %}
