{% extends 'base.html'%}
{% block main%}
<br>
    <h2 class="sub_tito">&nbsp; FATURA
        <a style='color:red;' href="#" onclick="document.getElementById('form_up').style.display='block';"> Informações
        </a>
    </h2> 
    <form id="form_up" class='formulario' style="display: none;"> 
        <a id="termo_buttao" href="#" onclick="document.getElementById
              ('form_up').style.display='none';"> X</a>
        <p> AVISOS E INFORMAÇÕES!</p>
        <hr>
        <p style='font-size: 16px; text-align: center; color: rgb(27, 23, 23);'> 
            O sistema é cobrado quando você escolhe um plano pago
        <p style='font-size: 14px; color: rgb(27, 23, 23);'> </p>
    </form>

    <form class='campo_de_busca' method="GET" action="{% url 'fatura' %}" >
    
     <input style=" width:180px;" type="month"  name="data_de_vencimento" id="data_de_vencimento" >
       
       <button  type="submit">Filtrar</button>
    </form >
     <table class='table'>
        <thead >
           <tr>
                <th style=" padding: 8px;">Descricão</th>
                <th style=" padding: 8px;">Registros</th>
                <th style=" padding: 8px;">&nbsp;</th>
                <th style=" padding: 8px;">&nbsp;</th>
                <th style=" padding: 8px;">&nbsp;</th>
                <th class="col_table" style=" padding: 8px; ">&nbsp;</th>
           </tr> 
       </thead>
      
           <tbody >
                <td style="text-align: left;background-color: #C6E2FF;" > Vendas </td>
                <td style=" background-color: #C6E2FF;">{{ vendas}}</td>
                <!-- Somente para preecher a tabela -->
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
        
           </tbody>
            
            <tbody>
                <td style="text-align: left;"> Item do pedito </td>
                <td> {{item_do_pedito}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style=" padding: 8px;">&nbsp;</td>
                    <td style=" padding: 8px;">&nbsp;</td>
                    <td style=" padding: 8px; ">&nbsp;</td>
                    <td class="col_table" style="   padding: 8px;">&nbsp;</td>
            </tbody>
            <tbody>
                <td style="text-align: left;background-color: #C6E2FF;"> Contas a receber </td>
                <td style=" background-color: #C6E2FF;"> {{Contas_a_receber}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>

            </tbody>
            <tbody>
                <td style="text-align: left;"> Contas a pagar </td>
                <td> {{Contas_a_pagar}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style="   padding: 8px;">&nbsp;</td>
                    <td style="  padding: 8px;">&nbsp;</td>
                    <td style="   padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="   padding: 8px;">&nbsp;</td>
            </tbody>
            <tbody>
                <td style="text-align: left; background-color: #C6E2FF;"> Gastos extras </td>
                <td style=" background-color: #C6E2FF;" > {{gastos_extras}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
            </tbody>
            <tbody>
                <td style="text-align: left;"> Entrada de mercadorias </td>
                <td> {{entrada_de_mercadoria}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style=" padding: 8px;">&nbsp;</td>
                    <td style=" padding: 8px;">&nbsp;</td>
                    <td style=" padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="   padding: 8px;">&nbsp;</td>

            </tbody>
            <tbody>
                <td style="text-align: left; background-color: #C6E2FF;"> Caixa </td>
                <td style=" background-color: #C6E2FF;" > {{caixa}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  background-color: #C6E2FF; padding: 8px;">&nbsp;</td>
            </tbody>
            <tbody>
                 <!-- Somente para Separar as tabelas -->
                <td style=" background-color: #ffffff;">&nbsp; </td> 
                <td style=" background-color: #ffffff;"> &nbsp;</td>
                <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                <td class="col_table" style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
            </tbody>

        <thead  >
            <tr>
                <th  style=" padding: 8px;">Resumo</th>
                 <!-- Somente para preecher a tabela -->
                    <th style=" padding: 8px;">&nbsp;</th>
                    <th style=" padding: 8px;">&nbsp;</th>
                    <th style=" padding: 8px;">&nbsp;</th>
                    <th style=" padding: 8px;">&nbsp;</th>
                    <th class="col_table" style=" padding: 8px;">&nbsp;</th>
                    
            </tr> 
        </thead>
        <br>
            <tbody>
                <td style="text-align: left;"> TOTAL DE REGISTRO</td>
                <td> {{total_de_registros}} </td>
                <!-- Somente para preecher a tabela -->
                    <td style="  padding: 8px;">&nbsp;</td>
                    <td style="  padding: 8px;">&nbsp;</td>
                    <td style="  padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  padding: 8px;">&nbsp;</td>
            </tbody>
           
            <tbody>
                <td style="text-align: left;">FECHAMENTO DA FATURA</td>
                <td> {{today | date:'20/m/Y'}}</td>
                <!-- Somente para preecher a tabela -->
                    <td style="  padding: 8px;">&nbsp;</td>
                    <td style="  padding: 8px;">&nbsp;</td>
                    <td style=" padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  padding: 8px;">&nbsp;</td>
            </tbody>

                <tbody>
                    <!-- Somente para Separar as tabelas -->
                        <td style=" background-color: #ffffff;">&nbsp; </td> 
                        <td style=" background-color: #ffffff;"> &nbsp;</td>
                        <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                        <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                        <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                        <td class="col_table" style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                </tbody>
        <thead>
            <tr> 
                <th style=" background-color: rgb(245, 222, 52);">Fatura em aberto </th>
            </tr>
        </thead>
        <thead >
            <tr>
                <th >Registros</th>
                <th >Valor</th>
                <th class="col_table"> Mês referente</th>
                <th > data de vencimento </th>
                <th > Estado</th>
                <th > Ação </th>    
            </tr> 
        </thead>
            <br>
            {% for debito_em_aberto in debito_em_aberto%}
                <tbody>
                        <tr>
                            <td style="text-align: left;">{{debito_em_aberto.registros}}</td>
                            <td style="text-align: left;">{{debito_em_aberto.valor}}</td>
                            <td class="col_table" style="text-align: left;"> {{debito_em_aberto.mes_referente | date:'01/m/Y'}}</td>
                            <td style="text-align: left;"> {{debito_em_aberto.data_de_vencimento  | date:'10/m/Y'}}</td>
                            <td style="text-align: left;"> {{debito_em_aberto.estado_do_debito}}</td>
                            <td><a href="{{debito_em_aberto.link_de_cobranca}}">Pagar</a></td>
                        </tr>
                    
                </tbody>
            {%endfor%}

            <tbody>
                <!-- Somente para Separar as tabelas -->
                    <td style=" background-color: #ffffff;">&nbsp; </td> 
                    <td style=" background-color: #ffffff;"> &nbsp;</td>
                    <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                    <td style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
                    <td class="col_table" style="  background-color: #ffffff; padding: 8px;">&nbsp;</td>
            </tbody>
        <thead>
            <tr> 
                <th style=" background-color: rgb(238, 54, 54);">Fatuar em atraso </th>
            </tr>
        </thead>
        <thead  >
            <tr>
                <th >Registros</th>
                <th >Valor</th>
                <th class="col_table"> Mês referente</th>
                <th > data de vencimento </th>
                <th > Estado</th>
                <th > Ação </th>
            
            </tr> 
        </thead>
        <br>
        {% for debito_em_atraso in debito_em_atraso%}
            <tbody>
                    <tr>
                        <td style="text-align: left;">{{debito_em_atraso.registros}}</td>
                        <td style="text-align: left;">{{debito_em_atraso.valor}}</td>
                        <td class="col_table" style="text-align: left;"> {{debito_em_atraso.mes_referente | date:'01/m/Y'}}</td>
                        <td style="text-align: left;"> {{debito_em_atraso.data_de_vencimento | date:'10/m/Y'}}</td>
                        <td style="text-align: left;"> {{debito_em_atraso.estado_do_debito}}</td>
                        <td><a href="{{debito_em_aberto.link_de_cobranca}}">Pagar</a></td>
                    
                    </tr>
                
            </tbody>
        {%endfor%}
       </table> 
       <br> 
       <br> 
       <br> 
       <br> 
       <br> 
{% endblock %}