{% extends 'base.html'%}
{% block main%}
<br>
  <h2 class="sub_menu" >&nbsp; RELATÓRIO POR PRODUTO 
  <a style="color:brown;"
  href="#" onclick="document.getElementById('form_up').style.display='block';"> Importante saber 
</a>
</h2>
<form id="form_up" class='formulario' style="display: none;"> 
  <a id="termo_buttao" href="#" onclick="document.getElementById
        ('form_up').style.display='none';"> X</a>
  <p> AVISO IMPORTANTE!</p>
  <hr>
  <p style='font-size: 14px; color: red;'> A coluna (lucro obitido) desta tabela, não inclui os descontos inserido no fluxo de caixa, ou melhor,
    o cálculo é baseado no valor venal, sem descontos!</p>
</form>
<hr>
<form class='campo_de_busca' method="GET" action="{% url 'relatorio-produtos' %}">
    
    <input style="width:150px" type="month"  name="mes" id="mes" >

    <select style="width:70px" type="select"  name="filtrar_produto" id="filtrar_produto" >
      <option value="-lucro_obtido" >Filtro</option>
      <option value="-produto__saida" >-Mais vendido </option>
      <option value="produto__saida" >-Menus vendido </option>
      <option value="-lucro_obtido" >-Maior lucrou</option>
      <option value="lucro_obtido" >-Menor lucrou</option>
    </select >
    <button style="width:50px" style='margin:10px;' type="submit">Filtrar</button>

    <label style=" padding: 3px;"> 
      <a style="color: rgb(16, 23, 223); text-decoration:rgb(149, 21, 21);"  
      href="{% url 'relatorio_anual'%}">Dashboard anual</a>
    </label>
    <label style=" padding: 3px;"> 
      <a style="color: rgb(16, 23, 223); text-decoration:rgb(255, 255, 255);"  
      href="{% url 'relatorio_mensal'%}"> Por mes</a>
    </label>
</form>

    <table class="table">
      <thead>
        <tr>
          <th class="col_table">ID do produto</th>
          <th >Nome do produto</th>
          <th >Qtd vendido</th>
          <th >Valor investido</th>
          <th >Total Bruto</th>
          <th >Lucro Obitido</th>

        </tr>
      </thead>
      <tbody>

        {% for item_de_pedido in item_de_pedido %}
            <tr>
                <td class="col_table">{{ item_de_pedido.produto__id }}</td>
                <td>{{ item_de_pedido.produto__nome }}</td>
                <td>{{ item_de_pedido.produto__saida | floatformat:2}}-item</td>
                <td>R$ {{ item_de_pedido.total_investimento | floatformat:2 }}</td>
                <td>R$ {{ item_de_pedido.total_venda | floatformat:2 }}</td>
                <td>R$ {{ item_de_pedido.lucro_obtido | floatformat:2 }}</td>

            </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
<br>
{% endblock %}