{% extends 'base.html'%}
{% block main%}
<br>
<br>
<h2 class="sub_menu_relat">&nbsp; RELATÓRIO ANUAL</h2>
<form class='campo_de_busca_relat' method="GET" action="{% url 'relatorio_anual' %}">
    <div>
        <select style=" width:180px;" type="select"  name="ano" id="ano" >
            <option value="{{ano_atual}}" >__Escolha um Ano__
            <option value="2021" >2021 </option>
            <option value="2022" >2022</option>
            <option value="2023" >2023</option>
            <option value="2024" >2024</option>
            <option value="2025" >2025</option>
            <option value="2026" >2026</option>
            <option value="2027" >2027</option>
            <option value="2028" >2028</option>
            <option value="2029" >2029</option>
            <option value="2030" >2030</option>
            <option value="2031" >2031</option>
       </select >
        <button  type="submit">Filtrar</button>
    </div>

</form>
<br>
<form class='relatorio'>

    <label>Total invertimento: R$ {{invertimento_anual | floatformat:2}}</label>
     <br>
<label>
    <label>Total da vendas: R$ {{venda_desse_ano| floatformat:2}}</label>
    <a style='text-align: center;'>Por tipo de pagamento</a>
    <br>
    <label style='border: 1px solid #303131; border-radius:
        5px; font-size:15px; padding: 5px; width: 180px;'>
        Cédula: R$ {{ cedula.total_venda_cedula | floatformat:2}} </label>
    <label style='border: 1px solid #303131; border-radius:
        5px; font-size:15px; padding: 5px; width: 180px;'>
        Crédito: R$ {{ credito.total_venda_credito | floatformat:2}}</label>
    <label style='border: 1px solid #303131; border-radius:
        5px; font-size:15px; padding: 5px; width: 180px;'>
        Débito: R$ {{ debito.total_venda_debito | floatformat:2}}</label>
</label>
     <br>
    <label>Desconto: R$ {{desconto_po_anual.total_desconto | floatformat:2}}</label>
      <br>
    <label>Total de lucro: R$ {{lucro_anual | floatformat:2}}</label>

    <h2>&nbsp; Outras observações</h2>

    <label>Gastos extras: R$ {{gastos_extras_anual.gastos | floatformat:2}}</label>
    <br>
     <label>Contas a receber: R$ {{Contas_anual_a_receber.total_conta | floatformat:2}} </label>
    <br>
    <label>Contas a pagar: R$ {{Contas_anual_a_pagar.total_conta | floatformat:2}} </label>
    <br>
</form>

{% endblock %}