{% extends 'base.html'%}
{% block main%}
{% load static%}
<br>
<br>
<h2 class="sub_tito" >&nbsp; DESHBORD MENSAL 
    <div > 
        <label class="sub_menu"> 
            <img id="img_menu" src="{% static 'img/frente_de_caixa.png' %}" width="500px" all=" ">
            <a href="{% url 'relatorio_anual' %}">ANUAL</a>
        </label> 
        <label class="sub_menu"> 
            <img id="img_menu" src="{% static 'img/estoque.png' %}" >
            <a href="{% url 'relatorio-produtos' %}">POR PRODUTO</a>
        </label>
    </div>
</h2>
<form class='campo_de_busca_relat' method="GET" action="{% url 'relatorio_mensal' %}">
    <div>

        <select style=" width:120px;" type="select"  name="mes" id="mes"  >
        <option value="{{MES}}" >Escolha um mês </option>
        <option value="01" >Janeiro </option>
        <option value="02" >Fevereiro</option>
        <option value="03" >Março</option>
        <option value="04" >Abril </option>
        <option value="05" >Maio</option>
        <option value="06" >Junio</option>
        <option value="07" >Julho </option>
        <option value="08" >Agosto</option>
        <option value="09" >Setembro</option>
        <option value="10" >Outubro </option>
        <option value="11" >Novembroo</option>
        <option value="12" >Dezembro</option>
    </select >
   <button  type="submit">Filtrar</button>
 </div>
</form >

<br>

<form class='relatorio'>

    <label>Total investido: R$ {{invertimento.total_invertimento | floatformat:2}}</label>
     <br>
    <label>
    <label>Total bruto das vendas: R$ {{vendas.total_venda | floatformat:2}} </label><br>
      <a style='text-align: center;'>Por tipo de pagamento</a>
      <br>
    <label style='border: 1px solid #303131; border-radius:
        5px; font-size:15px; padding: 5px; width: 180px;'>
        Cédula: R$ {{ cedula.total_venda_cedula | floatformat:2}} </label>
    <label style='border: 1px solid #303131; border-radius:
        5px; font-size:15px; padding: 5px; width: 180px;'>
        Crédito: R$ {{ credito.total_venda_credito | floatformat:2}}</label>
    <label style='border: 1px solid #303131; border-radius:
        5px; font-size:15px; padding: 5px; width: 180px;'>
        Débito: R$ {{ debito.total_venda_debito | floatformat:2}}</label>
</label>
     <br>
    <label>Total de descontos: R$ {{desconto_po_mes.total_desconto | floatformat:2}} </label>
    <br>
    <label>Lucro obtido: R$ {{lucro_mensal | floatformat:2}}</label>

     <h2 >&nbsp; Outras observações</h2>

     <label >Gastos extras: R$ {{gastos_extras.gastos | floatformat:2}}</label>
    <br>
    <label>Contas a receber: R$ {{Contas_mensal_a_receber.total_conta | floatformat:2}} </label>
    <br>
    <label>Contas a pagar: R$ {{Contas_mensal_a_pagar.total_conta | floatformat:2}} </label>
      <br>
</form>
<br>
{% endblock %}




