{% extends 'base.html'%}
{% block main%}
<br>
    <h2 class="sub_menu" >&nbsp; FUNCIONÁRIOS
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
    </h2>
    {% if mensagen_de_erro_usuario %}
        <form id="form_up" class='formulario' style="display: block;" method="post" action="{% url 'novo-funcionario' %}">
    {%else %}
        <form id="form_up" class='formulario' style="display: none;" method="post" action="{% url 'novo-funcionario' %}">
    {%endif %}
    
        {% csrf_token %}
        <a id="termo_buttao" href="#" onclick="document.getElementById
        ('form_up').style.display='none';"> X</a>
        <p> NOVO FUNCIONÁRIO</p>

        <hr> 
    <div>
        <label>Nome*</label> <br>
            <input style='width:200px;' Type='text' value= "{{usuario}}"
            maxlength="30"  name='primeiro_nome' id='primeiro_nome' placeholder="Nome..." required/>
    </div>
    <div>
        <label>Segundo nome*</label><br>
            <input style='width:200px;' Type='text' name= 'segundo_nome' 
            maxlength="30" id='segundo_nome' placeholder="Ex: ds Silva..." required/>
        </div>
        <div>
            <label> Estado*</label><br>
        <select style=" width:200px;" type="text" id="ativo" name="ativo" required>
            <tr>
                <option value=''> __estado do usuário__</option>
                <option value="True">Ativo </option>
                <option value="False">Inativo  </option>
            </tr>
        </select>
    </div>
    <div>
        {% if mensagen_de_erro_usuario %}
        <label style='color:red;'>{{mensagen_de_erro_usuario}}</label><br>
        {% endif %} 
        <label>Usuário*</label> <br>
        <input style='width:200px; color: black;' type="text" data-js="usuario_e_senha"
            Type='text' name= 'username' maxlength="20" placeholder="Ex: id_01, maria_23" required/>
    </div>
    <div>
        <label>Senha*</label><br>
            <input style='width:200px;' Type='password' name= 'password'id= 'password' 
            type="text" maxlength="20" placeholder="Somente números, letras e _" required/>
    </div>
    <div>
        <label>Permissão*</label><br>
            <select style=" width:230px;" type="text" id="permissao" name="permissao" required>
                <tr>
                    <option value=''> __Escolha uma permissão__</option>
                    <option value="Administrador">	Administrador </option>
                    <option value="Caixa">Caixa  </option>
                    <option value="Vendedor">Vendedor </option>
                    <option value="Gerente">Gerente </option>
                    <option value="Vendedor_Caixa">Vendedor e Caixa </option>
                    <option value="Estoquista">Estoquista </option>
                </tr>
            </select>
    </div>
    
        <hr>
        <button type="submit" > Salvar </button>
            <br>
        <br>
    </form>
    
<br>
<table class="table">
    <thead>
    <tr>
        <th >Nome</th>
        <th >Usuário</th>
        <th >Último acesso</th>
        <th >Estado</th>
        <th >Ação</th>

    </tr>
</thead>
    <tbody>
        {%for usuarios in usuarios %}
            <tr>
                <td>{{ usuarios.user.first_name }} {{usuarios.user.last_name}}</td>
                <td>{{ usuarios.user.username }}</td>
                <td>{{ usuarios.user.last_login | date:'d-m-y'}}</td>
                    {% if usuarios.user.is_active %}
                        <td>Ativo</td>
                    {% else %}
                        <td>Inativo</td>
                    {% endif %}
                <td>  
                    <a href="{% url 'update-funcionario' usuarios.user.id %} ">Editar</a>
                {% if perms.pessoa.delete_funcionario %}
                    <a href="{% url 'delete-funcionario' usuarios.user.id %}"> Excluir </a>
                {%endif%}
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}