{% extends 'base.html' %} 
{% block main %}
{% load static%}
<br>
    <h2 class="sub_tito" >&nbsp; MEU PLANO
        <a 
            href="#" onclick="document.getElementById('form_up').style.display='block';">
                Adicionar 
        </a>
        <div>
            <label class="sub_menu"> 
                <img id="img_menu" src="{% static 'img/contas.png' %}" width="500px" all=" ">
                <a href="{% url 'conta_areceber' %}">MEU PLANO</a>
            </label>
        </div>
    </h2>

    {% endblock %}