{% extends 'base.html'%}

   {% block main%}


<!-- tabela -->
<div class=divMae>

<form class='formulario' method="GET">
          <label for="busca">Cliente</label>

          <input style=" width:200px;" type="text" id="fornecedo" name="fornecedo" >
          <button style=" width:80px; !important" type="submit">OK</button>
<p></p>

          {%for fornecedors in fornecedors %}
        <input type="text" id="id" value="{{fornecedors.id}}" />
            {%endfor%}

</form>

 <p></p>
 <p></p>
 <p></p>
    <div >
        <table class="table" style="background-color: #A9A9A9 !important;">
            <thead style="background-color: #696969 !important;" >
                <tr >
            		<th> ID</th>
            		<th> Nome </th>
            		<th> Endereço </th>
            		<th> Telefone </th>
            		<th> E-mail </th>
            		<th> CNPJ</th>
                 </tr>

        	</thead>

            <tbody >
              {%for fornecedors in fornecedors %}
                  <td> {{fornecedors.id}} </td>
                  <td> <a href={% url 'cor_fornecedor_update' fornecedors.id %}>{{fornecedors.nome_completo}} </a> </td>
                  <td> {{fornecedors.endereco}} </td>
                  <td> {{fornecedors.telefone}} </td>
                  <td> {{fornecedors.email}} </td>
                  <td> {{fornecedors.cnpj}} </td>

            </tbody>
            {% empty %}
                    <li>Sem itens na lista.</li>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock %}
