{% extends 'base.html' %}

{% block main %}
<br>
    <h2 class="sub_tito" >&nbsp; PROMOÇÃO <a href="{% url 'promocao' %}"> Cancelar</a></h2>
    <form class='formulario' method="POST" >
        {% csrf_token %}
        {% csrf_token %}
        <p> EDITAR PROMOÇÃO</p>
        <hr>
    <div>
        <label> Descrição</label> <br>
            <input style=" width:200px;"  placeholder=" Descrição..." type="text"
                id="descricao" name="descricao" value='{{ promocao.descricao}}' required/>
    </div>
    <div>
        <label> Desconto a partir</label> <br>
            <input style=" width:150px;" autofocus="autofocus" placeholder=" Digite a quantidade..."
                type="text" id="quantidade_promocional" name="quantidade_promocional"
                value='{{ promocao.quantidade_promocional}}' required/>
    </div>
    <div>
        <label> Desconto</label> <br>
            <input style=" width:110px;"  placeholder="{{ promocao.desconto}}%" type="number" step=".01" lang="nb"
                id="desconto" name="desconto" value='{{ promocao.desconto}}' required/>
    </div>
    <div>
        <label> Data de iníco</label> <br>
            <input style=" width:150px; padding:3px;"type="date" id="myDate" name="data_inicio"
                value="{{ promocao.data_inicio | date:'Y-m-d'}}" required/>
    </div>
    <div>
        <label> Data de termino</label> <br>
            <input style=" width:150px; padding:3px;" type="date" id="data_termino"
                name="data_termino"  value="{{ promocao.data_termino | date:'Y-m-d'}}" required/>
    </div>
        <hr>
        <button type="submit"> Salvar</button>
    </form>
    <br>
{% endblock %}